<div class="modal-content-inner">
    <p>Merci, vos documents ont bien été pris en charge.</p>
    <p>Copiez-collez ce lien dans votre email de candidature. Vous recevrez un email d'alerte si le recruteur ouvre votre dossier.</p>
    
    <p class="tilkee-copy-text">
        <textarea id="tilkee-email-body" readonly rows="2">Je vous invite à consulter mon dossier de candidature en cliquant sur ce lien : {{ project_url }}</textarea>
        <button class="btn btn-hollow">Copier</button>
    </p>
</div>
