/* Layout.
=========================================================================== */

.lbb-header,
.lbb-content,
.lbb-footer {
    max-width: 1400px;
    margin: auto;
}

.lbb-header,
.lbb-content,
.lbb-footer {
    padding-right: 20px;
    padding-left: 20px;
}

.lbb-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (max-width: 500px) {
    .lbb-header {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.lbb-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 800px) {  /* Only for browsers >= 800px. */
    .lbb-content {
        padding-bottom: 60px;
    }
}

.lbb-footer {
    padding-top: 30px;
    padding-bottom: 60px;  /* Let some space to display the doorbell button under the footer. */
}

/*
This is a wrapper because it can't have a fixed width in order to apply a full color background:
  <div class="lbb-content-wrapper">
    <div class="lbb-content">
    ...
    </div>
  </div>
*/
#content {
    margin: 0;
}

.lbb-content-wrapper {
    background: #F3F6FA;;
    margin: 0;
}

.lbb-content-alternance-wrapper {
    background: linear-gradient(180deg, #991766, #801356);
    margin: 0;
}

.lbb-single-column-content {
    max-width: 930px;
    margin: auto;
}

/* Header.
=========================================================================== */

.lbb-header-wrapper {
    width: 100%;
    background: #fff;
}

.lbb-header-wrapper * + * {
    margin-top: 0;  /* Cancel default spacing across block-level elements inside. */
}

ul.lbb-header {
    list-style: none;
    display: table;
    width: 100%;
}

.lbb-header > li {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: right;
    vertical-align: middle;
}

.lbb-header > li.lbb-header-entry {
    width: 74px;
    text-align: center;
}
@media (max-width: 500px) {
    .lbb-header > li.lbb-header-entry {
        width: 60px;
        padding: 0;
    }
}

.lbb-header-logo-lbb {
    width: 160px;
}
.lbb-header-logo-pole-emploi {
    width: 74px;
}

/* User buttons. */

.lbb-header-btn-wrapper {
    margin-right: 10px;
}

.lbb-header-btn,
.lbb-header-btn:link {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;  /* Fallback in `px` for browsers that don't support rem. */
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #5d5d5d;
    border: none;
}

.lbb-header-btn:active,
.lbb-header-btn:hover {
    background-color: #cbcbcb;
    cursor: pointer;
}

.lbb-header-btn img {
    width: 35px;
    display: block;
    margin: 0 auto 5px auto;
}

.logout {
    background: url(../images/logout.svg) no-repeat 0 50%;
    background-size: 12px 12px;
    padding-left: 16px;
}

/* Footer.
=========================================================================== */

.lbb-footer {
    display: grid;
    grid-template-columns: auto 210px 20%;
    grid-template-rows: auto;
    grid-template-areas:
      "footer-links footer-logos footer-text"
      "footer-update footer-update footer-update";
}
@media (max-width: 800px) {
    .lbb-footer {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "footer-links"
          "footer-logos"
          "footer-text"
          "footer-update";
    }
}

.lbb-footer ul {
    grid-area: footer-links;
}

.lbb-footer .lbb-sponsor-logos {
    grid-area: footer-logos;
    margin-top: 0;
}
.lbb-footer .lbb-sponsor-logos img {
    width: 100px;
    vertical-align: top;
}

.lbb-footer .lbb-sponsor-text {
    grid-area: footer-text;
    margin-top: 0;
}
.lbb-footer center {
    grid-area: footer-update;
    margin-top: 0;
    padding-left: 10px;
}

.lbb-footer-wrapper {
    margin: 0;
    border-top: 1px solid #cbcbcb;
}

.lbb-footer {
    font-size: 13px;  /* Fallback in `px` for browsers that don't support rem. */
    font-size: 0.8125rem;
}

.lbb-footer a:link,
.lbb-footer a:visited,
.lbb-footer a:active,
.lbb-footer a:hover {
    color: #5d5d5d;
}

.lbb-footer ul {
    list-style: none;
    padding: 0;
}

.lbb-footer ul:after {
    content: '';
    display: table;
    clear: both;
}

.lbb-footer ul li {
    float: left;
    width: 33%;
    padding-left: 10%;
    margin: 0;
}

.lbb-footer img {
  margin-top: 0;
}

@media (max-width: 800px) {  /* Only for browsers <= 800px. */
    .lbb-footer ul li {
        width: 50%;
    }
}
