/* Doorbell.
=========================================================================== */

#doorbell-button,
#doorbell-background {
    margin: 0;  /* Cancel default global spacing for block-level elements. */
}

#doorbell-button {
    background: #10863c;
    position: fixed;
    right: 20px;
    bottom: 0;
}
