/* Input with icons.
=========================================================================== */

input.input-icon {
    background: #fff url(../images/icons/suitcase.svg) no-repeat 8px 50%;
    padding-left: 30px;
}

input.input-icon-suitcase {
    background-image: url(../images/icons/suitcase.svg);
}

input.input-icon-location {
    background-image: url(../images/icons/pinmap-location.svg);
}

/* Form utils.
=========================================================================== */

.form-help-text {
    margin-top: 0;
    color: #5d5d5d;
    font-size: 14px;  /* Fallback in `px` for browsers that don't support rem. */
    font-size: 0.875rem;
}

select.form-error,
input.form-error,
textarea.form-error,
.form-error select,
.form-error input,
.form-error textarea {
    border: 1px solid #f03c69;
}

.form-errorlist {
    text-align: left;
    margin-top: 5px;
    color: #f03c69;
    padding: 0 0 0 29px;
}

/* Vertical form.
=========================================================================== */

.form-vertical label {
    display: block;
    font-weight: bold;
}

.form-vertical input[type='email'],
.form-vertical input[type='number'],
.form-vertical input[type='password'],
.form-vertical input[type='search'],
.form-vertical input[type='tel'],
.form-vertical input[type='text'],
.form-vertical input[type='url'],
.form-vertical textarea {
    width: 100%;
}

/* Inline form.
=========================================================================== */

.form-inline {
    display: inline;
}

/* Search form (2 inputs one above the other and a search button).
=========================================================================== */

.form-search {
    position: relative;
}

.form-search div {
    width: calc(100% - 50px - 5px);  /* (full width) - (submit button width) - (margin) */
}

.form-search div input {
    width: 100%;
}

.form-search div input:not(:last-child) {
    margin-bottom: 5px;
}

.form-search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    padding: 0;
    margin: 0;
}

.form-search button img {
    width: 100%;
    display: block;
    padding: 0 10px;
}

/* Additional fields under the search form.
=========================================================================== */

#distance-duration-switch {
    margin-top: 8px;
}
.form-switch {
    margin-top: 0;
    height: 32px;
    line-height: 32px;
    width: 160px;
    border-radius: 4px;
    border: 1px solid #5D0094;
}
    
.form-switch .switch-element {
    width: 50%;
    height: 100%;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    margin: 0;
    color: #54108E;
    cursor: pointer;
}

/* Switched-on values */
#distance-duration-switch[data-switch-value-selected="distance"] .switch-element[data-switch-value="distance"],
#distance-duration-switch[data-switch-value-selected="duration"] .switch-element[data-switch-value="duration"] {
  background-color: #54108E;
  color: white;
}
#distance-duration-switch[data-switch-value-selected="distance"] [data-switch-display-on="duration"],
#distance-duration-switch[data-switch-value-selected="duration"] [data-switch-display-on="distance"] {
  display: none;
}

.lbb-sidebar-item .travelmode-choices {
    display: inline-block;
    margin-top: 0;
}
.lbb-sidebar-item .travelmode-choice {
    width: 80px;
    font-size: 12px;
    text-align: center;
    float: left;
    margin: auto;
}
.lbb-sidebar-item .travelmode-choice img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-top: 0;
    cursor: pointer;
}
.lbb-sidebar-item .travelmode-choice p {
    font-weight: 600;
    color: #54108E;
    margin-bottom: 0;
}

.form-search-additional-fields {
    margin: 10px 0;
    font-size: 14px;  /* Fallback in `px` for browsers that don't support rem. */
    font-size: 0.875rem;
}
.coordinates-disclaimer {
    margin: 35px 0 50px 0;
}
.checkbox-container input {
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-right: 15px;
}
.checkbox-container label {
    margin-top: 0;
}

.action-chooser-form > a.btn {
    display: block;
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
    font-size: 1.1em;
}
.action-chooser-form h1 {
    margin-bottom: 50px;
}

.verification-form .logo-pe-connect img {
    width: 500px;
}
.contact-form > div {
    margin-top: 30px;
}

.contact-form #new_contact_mode {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    display: flex;
}
@media (max-width: 800px) {
    .contact-form #new_contact_mode {
        display: inherit;
        margin: 15px 0 0 30px;
    }
}
.contact-form .submit-button .btn {
    margin-top: 30px;
    font-size: 1.2em;
}
.contact-form #new_contact_mode li {
    flex: 1;
}
.required-text {
    margin-bottom: 20px;
    font-size: .75em
}
.contact-form #new_contact_mode li label {
    display: inline;
    font-weight: normal;
}
.mini-site-promotion {
    margin-top: 50px;
}

/* Fieldset */
fieldset {
    padding: 0;
    border: none;
}
fieldset legend {
    padding: 0;
    font-weight: bold;
}


/* Update jobs form */
.update-jobs-form table,
.update-jobs-form table th,
.update-jobs-form table td {
    border: none;
}
.update-jobs-form table tr.header td {
    text-align: center;
    background: #e0e0e0;
    vertical-align: bottom;
    font-weight: bold;
    padding: .625rem 1rem;
}

.update-jobs-form table td {
    padding: 15px;
}
.update-jobs-form table td input[type=checkbox]{
    zoom: 1.25;
    vertical-align: middle;
}
.update-jobs-form table tr.removed td {
    background-color: #DDD;
    opacity: .5;
}
.update-jobs-form .remove {
    font-size: .9em;
}
.update-jobs-form .add-new-jobs {
    margin: 40px 0 60px 0;
}

.success-message h2 {
    margin-bottom: 30px;
}
.success-message ul {
    list-style: none;
    text-align: center;
}
.success-message a.btn {
    font-size: 1em;
}
.success-message .actions {
    margin-top: 40px;
    margin-bottom: 20px;
}
.success-message ul li {
    display: inline-block;
}
.success-message ul li:first-child {
    margin-right: 40px;
    margin-bottom: 30px;
}