/* RGPD banner.
=========================================================================== */

.rgpd-banner {
    text-align: center;
    background: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 32px;  /* Fallback in `px` for browsers that don't support rem. */
    padding: 2rem;
    z-index: 2000;
    width: 100%;
    color: #fff;
    font-size: 0.9em;
    opacity: 0.9;
    display: none;
}

.rgpd-banner + * {
    margin-top: 0;  /* Cancel default spacing for the next block-level element. */
}

.rgpd-banner * + * {
    margin-top: 0;  /* Cancel default spacing across block-level elements inside. */
}

.rgpd-banner a:link,
.rgpd-banner a:visited,
.rgpd-banner a:active,
.rgpd-banner a:hover {
    color: #fff;
}
