#tilkee-modal img.tilkee-cv {
    width: 150px;
    position: absolute;
    right: -75px;
}
#tilkee-modal a.modal-close-button {
    font-size: 100%;
}

#tilkee-modal img.tilkee-pe-connect {
    max-width: 300px;
}

#tilkee-modal h6 + p {
    margin-top: 0;
}

#tilkee-modal .tilkee-copy-text {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: 'textarea button';
}
#tilkee-modal .tilkee-copy-text textarea {
    grid-area: textarea;
    min-height: 120px;
}
#tilkee-modal .tilkee-copy-text button {
    grid-area: button;
}

#tilkee-modal img.tilkee-remove-file {
    width: 15px;
    margin-left: 5px;
    margin-top: 0;
    vertical-align: middle;
    cursor: pointer;
}
