-e git+https://github.com/StartupsPoleEmploi/labonneboite-common.git@f0dadcbb79338522169e586a9f4ec0a750920d00#egg=labonneboite-common

Flask
Flask-Script

# Flask assets.
Flask-Assets
Flask-cors
cssmin
jsmin

# Forms.
Flask-WTF
WTForms

# Flask admin.
Flask-Admin

# Localization With Flask-Babelex.
# http://flask-admin.readthedocs.io/en/latest/advanced/#localization-with-flask-babelex
Flask-BabelEx
speaklater

# Development tools.
Flask-DebugToolbar
ipdb
ipython
pylint
pip-tools

# force importlib version for flake8 compatibility
importlib-metadata<4.3

# profiling tools used in create_index.py
# pycallgraph
pyprof2calltree
line-profiler
sentry-sdk>0.20.0

# Databases and migrations.
alembic
mysqlclient
SQLAlchemy-Utils
SQLAlchemy
zipp<3.7.0  # No matching distribution found for zipp==3.7.0

# Elasticsearch
# as of Jan 2018 we are using Elasticsearch 1.7, a very old version.
# According to http://elasticsearch-py.readthedocs.io/en/master/index.html
# we should thus use the major 1.x.y version of the python library.
# To figure out which 1.x.y version is the latest, run:
# pip install --upgrade "elasticsearch>=1.0.0,<2.0.0"
elasticsearch<2.0.0

# Users and auth management.
Flask-Login
social-auth-app-flask-sqlalchemy
social-auth-app-flask
social-auth-core[openidconnect]

# Unit tests.
nose
selenium
PyVirtualDisplay
Flask-Testing
parameterized

# Data and Importer.
pandas

# PDF utils and dependencies.
html5lib
xhtml2pdf

# Utils.
python-slugify
requests
validators
geopy
mailjet_rest
cryptography

# Deployment and production
uWSGI
uwsgitop
raven[flask]

# Load testing.
locustio
pyzmq
remote-pdb

#Fix markupsafe issue 1.0
markupsafe

#Impact retour emploi.
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
