flask>=1.1.1
Flask-Mandrill
Flask-Script

# Flask assets.
Flask-Assets
Flask-cors
cssmin
jsmin

# Forms.
Flask-WTF
WTForms

# Flask admin.
Flask-Admin

# Localization With Flask-Babelex.
# http://flask-admin.readthedocs.io/en/latest/advanced/#localization-with-flask-babelex
Flask-BabelEx
speaklater

# Asynchronous tasks
huey

# Development tools.
Flask-DebugToolbar
ipdb
ipython
pylint
pip-tools

# profiling tools used in create_index.py
pycallgraph
pyprof2calltree
line-profiler

# Databases and migrations.
alembic
mysqlclient
SQLAlchemy-Utils
SQLAlchemy
redis

# Elasticsearch
# as of Jan 2018 we are using Elasticsearch 1.7, a very old version.
# According to http://elasticsearch-py.readthedocs.io/en/master/index.html
# we should thus use the major 1.x.y version of the python library.
# To figure out which 1.x.y version is the latest, run:
# pip install --upgrade "elasticsearch>=1.0.0,<2.0.0"
elasticsearch<2.0.0

# Users and auth management.
Flask-Login
social-auth-app-flask-sqlalchemy
social-auth-app-flask
social-auth-core[openidconnect]

# Unit tests.
nose
selenium
PyVirtualDisplay
Flask-Testing
parameterized

# Data and Importer.
numpy
pandas
scikit-learn
scipy

# PDF utils and dependencies.
html5lib
xhtml2pdf

# Utils.
gevent  # only used by geocode importer job and locust load testing
python-slugify
requests
validators
geopy

# Deployment and production
uWSGI
raven[flask]

# Load testing.
locustio
pyzmq
remote-pdb