-r requirements.txt

# dev tools
flake8
flake8-pylint
coverage
isort
flake8-mypy
mypy
yapf
pytest
pytest-env

# Development tools.
Flask-DebugToolbar
ipdb
ipython
pylint
pip-tools

# testing
# locust

##########
# typing #
##########
types-Flask<0.13
# *missing*: types-Flask-Script

### Flask assets.
# *missing*: types-Flask-Assets
# *missing*: types-Flask-cors
# *missing*: types-cssmin
# *missing*: types-jsmin

### Forms.
# *missing*: types-Flask-WTF
# *missing*: types-WTForms

### Flask admin.
# *missing*: types-Flask-Admin

### Localization With Flask-Babelex.
### http://flask-admin.readthedocs.io/en/latest/advanced/#localization-with-flask-babelex
# *missing*: types-Flask-BabelEx
# *missing*: types-speaklater

### Development tools.
# *missing*: types-Flask-DebugToolbar
# *missing*: types-ipdb
# *missing*: types-ipython
# *missing*: types-pylint
# *missing*: types-pip-tools

### profiling tools used in create_index.py
### pycallgraph
# *missing*: types-pyprof2calltree
# *missing*: types-line-profiler
# *missing*: types-sentry-sdk>0.20.0

### Databases and migrations.
# *missing*: types-alembic
types-mysqlclient
# *missing*: types-SQLAlchemy-Utils
sqlalchemy2-stubs

### Elasticsearch
### as of Jan 2018 we are using Elasticsearch 1.7, a very old version.
### According to http://elasticsearch-py.readthedocs.io/en/master/index.html
### we should thus use the major 1.x.y version of the python library.
### To figure out which 1.x.y version is the latest, run:
### pip install --upgrade "elasticsearch>=1.0.0,<2.0.0"
elasticsearch-stubs<2.0.0

### Users and auth management.
# *missing*: types-Flask-Login
# *missing*: types-social-auth-app-flask-sqlalchemy
# *missing*: types-social-auth-app-flask
# *missing*: types-social-auth-core[openidconnect]

### Unit tests.
# *missing*: types-nose
types-selenium
# *missing*: types-PyVirtualDisplay
# *missing*: types-Flask-Testing
# *missing*: types-parameterized

### Data and Importer.
# *missing*: types-numpy
pandas-stubs
# *missing*: types-scikit-learn
# *missing*: types-scipy

### PDF utils and dependencies.
types-html5lib
# *missing*: types-xhtml2pdf

### Utils.
### *missing*: types-gevent  # only used by geocode importer job and locust load testing
types-python-slugify
types-requests
# *missing*: types-validators
# *missing*: types-geopy
# *missing*: types-mailjet_rest
types-cryptography

### Deployment and production
# *missing*: types-uWSGI
# *missing*: types-uwsgitop
# *missing*: types-raven[flask]

### Load testing.
# *missing*: types-locustio
# *missing*: types-pyzmq
# *missing*: types-remote-pdb

#Fix markupsafe issue 1.0
types-markupsafe==1.1.1

#Impact retour emploi.
# *Could not find a version that matches*: google-api-python-client-stubs
# *missing*: types-google-auth-httplib2
# *missing*: types-google-auth-oauthlib
