{% if use_lba_template %}
  {% extends 'base_lba.html' %}
{% else %}
  {% extends 'base.html' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="lbb-content">
  <div class="lbb-single-column-content action-chooser-form">

    <h1>Que voulez-vous faire ?</h1>

    <a class="btn btn-small" href="{{ url_for('contact_form.ask_recruiter_pe_connect', siret=siret, action_name='update_coordinates', origin=('labonnealternance' if use_lba_template else '')) }}">Modifier les coordonnées de mon entreprise</a>
    <a class="btn btn-small" href="{{ url_for('contact_form.ask_recruiter_pe_connect', siret=siret, action_name='update_jobs', origin=('labonnealternance' if use_lba_template else '')) }}">Modifier les métiers pour lesquels je reçois des candidatures spontanées</a>
    <a class="btn btn-small" href="{{ url_for('contact_form.ask_recruiter_pe_connect', siret=siret, action_name='delete', origin=('labonnealternance' if use_lba_template else '')) }}">Supprimer mon entreprise</a>
    <a class="btn btn-small" href="{{ url_for('contact_form.ask_recruiter_pe_connect', siret=siret, action_name='other', origin=('labonnealternance' if use_lba_template else '')) }}">Autre demande</a>

  </div>
</div>
{% endblock %}
