{% if use_lba_template %}
    {% extends 'base_lba.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% if use_lba_template %}
        {% set origin='labonnealternance' %}
    {% else %}
        {% set origin=None %}
    {% endif %}

    <div class="lbb-content">
      <div class="lbb-single-column-content action-chooser-form">

        <h2>Que voulez-vous faire ?</h2>

        <a class="btn btn-small" href="{{ url_for('contact_form.ask_recruiter_pe_connect', siret=siret, action_name='update_coordinates', origin=origin) }}">
            Modifier les coordonnées d'une entreprise
        </a>
        <a class="btn btn-small" href="{{ url_for('contact_form.ask_recruiter_pe_connect', siret=siret, action_name='update_jobs', origin=origin) }}">
            Modifier les métiers pour lesquels une entreprise reçoit des candidatures spontanées
        </a>
        <a class="btn btn-small" href="{{ url_for('contact_form.ask_recruiter_pe_connect', siret=siret, action_name='delete', origin=origin) }}">
            Supprimer une entreprise
        </a>
        <a class="btn btn-small" href="{{ url_for('contact_form.ask_recruiter_pe_connect', siret=siret, action_name='other', origin=origin) }}">
            Autre demande
        </a>

      </div>
    </div>
{% endblock %}
