{% if use_lba_template %} {% extends 'base_lba.html' %} {% else %} {% extends 'base.html' %} {% endif %}

{% block footer_scripts %}
  {% assets "recruiter_form" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% block title %}{{ title }}{% endblock %} {% block content %}

<div class="lbb-content">
  <div class="lbb-single-column-content">

    <a class="return-btn" href="{{ url_for('contact_form.ask_action') }}?{{ params }}">Retour</a>

    <form class="form-vertical" action="" method="post">

      {{ form.hidden_tag() }}

      <h2>{{ title }}</h2>

      <p>
        <strong>Sélectionnez les métiers pour lesquels vous souhaitez recevoir des candidatures spontanées !</strong>
      </p>

      <p>
        La liste ci-dessous correspond aux métiers les plus recrutés selon le secteur d’activité de chaque entreprise.
        <br>
        Pour recevoir des candidatures spontanées ciblées, affinez cette liste puis ajoutez des métiers.
      </p>

      <table class="jobs full-width">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center">{{ form.romes_to_keep.label.text }}</th>
            <th scope="col" class="text-center">{{ form.romes_alternance_to_keep.label.text }}</th>
          </tr>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center">
              <label>
                <input type="checkbox" class="js-check-all" data-target="romes_to_keep">
              </label>
            </th>
            <th  scope="col" class="text-center">
              <label>
                <input type="checkbox" class="js-check-all" data-target="romes_alternance_to_keep">
              </label>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for rome, rome_alternance in form.zipped_romes_to_keep() %}
          <tr id="{{ rome.data }}">
              <td>
                {{ rome.label.text }}
              </td>
              <td class="text-center">
                  <label>{{ rome }}</label>
              </td>
              <td class="text-center">
                  <label>{{ rome_alternance }}</label>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="add-new-jobs">

        <p>
          <label for="new-job">Ajouter un nouveau métier :</label>
          <input id ="new-job" class="ui-autocomplete-input" name="new-job" type="text" value="" autocomplete="off">
        </p>

        <table class="jobs full-width {% if not extra_added_jobs %}hidden{% endif %}">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="text-center">{{ form.romes_to_keep.label.text }}</th>
              <th scope="col" class="text-center">{{ form.romes_alternance_to_keep.label.text }}</th>
            </tr>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="text-center">
                <label>
                  <input type="checkbox" class="js-check-all" data-target="extra_romes_to_add">
                </label>
              </th>
              <th scope="col" class="text-center">
                <label>
                  <input type="checkbox" class="js-check-all" data-target="extra_romes_alternance_to_add">
                </label>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for job in extra_added_jobs %}
              <tr id="{{ job.rome_code }}">
                <td>
                  {{ job.label }}
                </td>
                <td class="text-center">
                  <label><input {% if job.lbb %}checked{% endif %} type="checkbox" name="extra_romes_to_add" value="{{ job.rome_code }}"></label>
                </td>
                <td class="text-center">
                  <label><input {% if job.lba %}checked{% endif %} type="checkbox" name="extra_romes_alternance_to_add" value="{{ job.rome_code }}"><label>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <p class="submit-button">
        <input class="btn" type="submit" value="{{ submit_text if submit_text else 'Valider' }}">
      </p>

      {% include "includes/mini_site_promotion.html" %}

    </form>

  </div>
</div>
{% endblock %}
