{% if use_lba_template %} {% extends 'base_lba.html' %} {% else %} {% extends 'base.html' %} {% endif %}

{% block footer_scripts %}
  {% assets "recruiter_form" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}

{% block title %}{{ title }}{% endblock %} {% block content %}

<div class="lbb-content">
  <div class="lbb-single-column-content">

    <a class="return-btn" href="{{ url_for('contact_form.ask_action') }}?{{ params }}" title="Retourner aux choix des actions">Retour</a>

    <form class="form-vertical update-jobs-form" action="" method="post">
      <h2>{{ title }}</h2>

      <p>
        Afin d'optimiser la réception des candidatures spontanées, n'hésitez pas à ajouter ou supprimer des métiers.
        Notre algorithme se base sur une analyse fine des déclaration préalables à l'embauche faites en fonction du secteur d'activité auquel appartient votre entreprise (votre code Insee NAF).
      </p>

      <table class="jobs" role="presentation">
        <tr class="header">
          <td></td>
          <td>Intéressé par des candidatures</td>
          <td>Ouvert aux contrats d'alternance</td>
          <td></td>
        </tr>

        {% for rome_field in rome_fields %}
          <tr id="{{ rome_field.code }}" {% if rome_field.current_values[0] == 'hide' %}class="removed"{% endif %}>
            <td class="text-left">
              <b>{{ rome_field.name }}</b>
            </td>

            <td class="text-center">
                <label for="lbb-{{ rome_field.code }}" class="sr-only">Intéressé par les candidatures pour le métier de {{ rome_field.name }}</label>
                <input
                  {% if 'lbb' in rome_field.current_values %}checked="checked" {% endif %}
                  id="lbb-{{ rome_field.code }}" type="checkbox" name="{{ rome_field.code }}" value="lbb" />
            </td>

            <td class="text-center">
                <label for="lba-{{ rome_field.code }}" class="sr-only">Métier ouvert à l'alternance</label>
                <input
                  {% if 'lba' in rome_field.current_values %}checked="checked" {% endif %}
                  id="lba-{{ rome_field.code }}" type="checkbox" name="{{ rome_field.code }}" value="lba" />
            </td>

            <td>
                <label for="remove-{{ rome_field.code }}" class="sr-only">Supprimer ce métier</label>
                <input class="hide sr-only"
                  {% if 'hide' in rome_field.current_values %}checked="checked" {% endif %}
                  id="remove-{{ rome_field.code }}" type="checkbox" name="{{ rome_field.code }}" value="hide" />

                  <button class="remove btn">
                    {% if 'hide' in rome_field.current_values %}Restaurer{% else %}Supprimer{% endif %}
                  </button>
            </td>
          </tr>
        {% endfor %}
      </table>

      <div class="add-new-jobs">
        <label for="j">Ajouter un nouveau métier :</label>
        <input class="ui-autocomplete-input" name="new-job" placeholder="" type="text" value="" autocomplete="off">


        <table class="{% if not manually_added_jobs %}hidden{% endif %}" role="presentation">
          <tr class="header">
            <td></td>
            <td>Intéressé par des candidatures</td>
            <td>Ouvert aux contrats d'alternance</td>
            <td></td>
          </tr>

          {% for job in manually_added_jobs %}
            <tr id="{{ job.id }}">
              <td class="text-left">
                <span>
                  <b>{{ job.label }}</b>
              </span>
              </td>
              <td class="text-center">
                <label for="lbb-{{ job.id }}" class="sr-only">Intéressé par les candidatures pour le métier de {{ job.label }}</label>
                <input {% if job.lbb %}checked{% endif %} id="lbb-{{ job.id }}" type="checkbox" name="{{ job.id }}" value="lbb" />
              </td>
              <td class="text-center">
                <label for="lbb-{{ job.id }}" class="sr-only">Ouvert aux contrats d'alternance pour le métier de {{ job.label }}</span>
                <input {% if job.lba %}checked{% endif %} id="lbb-{{ job.id }}" type="checkbox" name="{{ job.id }}" value="lba" />
              </td>
              <td class="text-center">
                <button class="btn remove" data-rome="{{ job.id }}" title="Supprimer le métier {{ job.label }}">
                  Supprimer
                  <span class="sr-only">le métier de {{ job.label }}</span>
                </button>
              </td>
            </tr>
          {% endfor %}

        </table>
      </div>

      {{ form.hidden_tag() }}


      <p class="submit-button">
        <input class="btn" type="submit" value="{{ submit_text if submit_text else 'Valider' }}">
      </p>


      <p class="mini-site-promotion">
        Vous n’avez pas de site Web ou souhaitez être encore plus visible sur Internet, Pôle emploi vous propose de créer gratuitement et facilement un mini-site entreprise !
        Pour plus d’information cliquez sur ce lien :
        <a href="https://www.pole-emploi.fr/employeur/nouveaute-pourquoi-creer-une-page-entreprise--@/article.jspz?id=256395" title="Pourquoi créer une page entreprise ? (Ouverture dans une nouvelle fenêtre)" target="_blank">
          Ma page entreprise
        </a>
      </p>
    </form>


  </div>
</div>
{% endblock %}