{% if use_lba_template %}
    {% extends 'base_lba.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block title %}{{ title|default("Votre demande a bien été envoyée !") }}{% endblock %}

{% block content %}
<div class="lbb-content">
    <div class="lbb-single-column-content success-message text-center">

        <h2>{{ title|default("Votre demande a bien été envoyée !") }}</h2>

        <p>Notre équipe reviendra vers vous d'ici quelques jours par mail et/ou téléphone afin de vous confirmer la prise en compte des modifications. Elles seront visibles sur votre fiche entreprise une fois la demande traitée.</p>

        {% if suggest_update_jobs %}
            <p>Nous vous invitons à confirmer les métiers pour lesquels vous souhaitez recevoir  des candidatures spontanées en cliquant sur le bouton ci-dessous.</p>
        {% elif suggest_update_coordinates %}
            <p>Nous vous invitons à confirmer vos données de contact visibles par les candidats en cliquant sur le lien ci-dessous.</p>
        {% endif %}

        <p>Nous restons à votre écoute sur <a href="mailto:{{ email }}">{{ email }}</a>.</p>

        <ul class="actions">
          <li>
            <a href="{{ home_url }}" title="Retour à la page d'accueil du site">Retour à la {{ site_name }}</a>
          </li>
          {% if suggest_update_jobs %}
            <li>
              <a class="btn btn-small" href="{{ url_for('contact_form.update_jobs_form') }}?{{ params }}">
              Mettre à jour les métiers pour lesquels je reçois des candidatures spontanées
              </a>
            </li>
          {% elif suggest_update_coordinates %}
            <li>
              <a class="btn btn-small" href="{{ url_for('contact_form.update_coordinates_form') }}?{{ params }}">
              Mettre à jour les coordonnées de mon entreprise
              </a>
            </li>
          {% else %}
            <li>
              <a class="btn btn-small" href="{{ action_form_url }}">Effectuer de nouvelles modifications</a>
            </li>
          {% endif %}
        </ul>

    </div>
</div>
{% endblock %}
