{% extends 'base.html' %}

{% block title %}Je postule{% endblock %}

{% block content %}
<iframe id="jepostule" width="100%" height="900px" src="{{ iframe_base }}{{ iframe_path }}" frameborder="0"></iframe>
{% endblock %}

{% block extrahead %}
<script>
    function onReceiveMessage(e) {
        if (e.origin === "{{ iframe_base }}" && e.data.topic === "jepostule") {
            var data = e.data;
            if (data.action === "resize") {
                document.getElementById("jepostule").height = data.value;
            } else if(data.action === "quit") {
                window.location = data.label;
            } else {
                ga('send', 'event', 'jepostule', data.action, data.label, data.value);
                if (data.action === 'navigate' && data.label === '#fin' && window.hj !== undefined) {
                    // trigger hotjar scenario
                    hj.trigger('trigger', 'sondage-candidat-jepostule');
                }
            }
        }
    }
    window.addEventListener("message", onReceiveMessage, false);
</script>
{% endblock %}
