{% extends 'base.html' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
<div class="lbb-content">
  <div class="lbb-single-column-content">

    <h2>Mon compte</h2>

    <h3>Mes données personnelles</h3>

    <ul>
      <li>Prénom: {{ user.first_name | title }}</li>
      <li>Nom: {{ user.last_name }}</li>
      {% if user.email %}<li>Email: {{ user.email | lower }}</li>{% endif %}
      <li><a href="{{ url_for('user.favorites_list') }}">Mes favoris</a></li>
    </ul>

    <hr>

    <h3>Exporter mes données (droit à la portabilité)</h3>

    <p>
      Télécharger au format CSV
      <a href="{{ url_for('user.personal_data_as_csv') }}" class="rgpd-account-download-personal">mes données personnelles</a>
      et
      <a href="{{ url_for('user.favorites_list_as_csv') }}" class="rgpd-account-download-favorites">mes favoris</a>
    </p>

    <hr>

    <h3>Supprimer mon compte et mes données (droit à l'oubli)</h3>

    <p>
      <a href="{{ url_for('user.account_delete') }}" class="rgpd-account-delete-attempt">Supprimer mon compte et mes données</a>
    </p>

  </div>
</div>
{% endblock %}
