{% extends 'base.html' %}

{% block title %}Mes favoris{% endblock %}

{% block extrahead %}
  {{ super() }}
  {% include "includes/map-styles.html" %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include "includes/map-scripts.html" %}
{% endblock %}

{% block content %}
<div class="lbb-content-wrapper">
  <div class="lbb-content">
    <div class="lbb-single-column-content">

      <div class="lbb-bright-container">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('user.account') }}">Mon compte</a></li>
            <li>Mes favoris</li>
        </ol>
        <h2>
            Mes favoris
            <a href="{{ url_for('user.favorites_list_as_pdf') }}"><img src="{{ url_for('static', filename='images/pdf-file-icon.png') }}" alt="Exporter mes favoris en PDF" style="vertical-align: middle; float: right;"></a>
        </h2>
      </div>

      <h2 class="sr-only">Liste de vos favoris</h2>
      {% if not favorites.count() %}
        <div class="lbb-bright-container">
          <p>Aucun favori pour le moment.</p>
        </div>
        <div class="lbb-bright-container">
          <p>
            <a class="btn" href="/">Faites une nouvelle recherche</a>
          </p>
        </div>
      {% else %}
        {% for fav in favorites %}
          {% with company = fav.office, rome_code = fav.rome_code %}
            <div class="lbb-bright-container lbb-result lbb-company">
              {% with show_more_info=1 %}
                {% include "includes/office/header.html" %}
                {% include "includes/office/content.html" %}
              {% endwith %}
            </div>
          {% endwith %}
        {% endfor %}
      {% endif %}

      {% include "includes/pagination.html" %}

      <div class="alert alert-warning">
        <p class="small">
          Le potentiel d'embauche est actualisé chaque mois, des entreprises voyant leur potentiel d'embauche baisser peuvent disparaître de vos favoris.</small>
        </p>
      </div>

    </div>
  </div>
</div>
{% endblock %}
