{% if not user.is_authenticated %}
<div class="lbb-dropdown-wrapper lbb-header-btn-wrapper">
  <button class="lbb-header-btn" aria-expanded="false" aria-controls="menu-content">
    <img src="{{ url_for('static', filename='images/user.svg') }}" alt="">
    <span>Connexion</span>
  </button>
  <div id="menu-content" class="lbb-dropdown lbb-dropdown-right text-right">
    <p>
    <a class="logo-pe-connect rgpd-consent-required" href="{{ login_url(next_url=next_url) }}"><img src="{{ url_for('static', filename='images/logo-pe-connect.svg') }}" alt="Se connecter avec Pôle emploi"></a><br>
      <i>Connectez-vous à La Bonne Boite en utilisant des identifiants Pôle emploi. Vous n'avez pas de compte ? Créez-en un et profitez de tous les services dédiés à l'emploi de nos partenaires.</i>
    </p>
  </div>
</div>
{% else %}
<div class="lbb-dropdown-wrapper lbb-header-btn-wrapper">
  <button class="lbb-header-btn gtm-user-logged-in" aria-expanded="false" aria-controls="menu-content">
    <img src="{{ url_for('static', filename='images/user-color.svg') }}" alt="">
    <span>Menu</span>
  </button>
  <div id="menu-content" class="lbb-dropdown lbb-dropdown-right text-right" role="navigation">
    <p>
      <b>{{ user.first_name | title }} {{ user.last_name }}</b>
    </p>
    <ul>
      <li>
        <a href="{{ url_for('user.account') }}">Mon compte</a>
      </li>
      <li>
        <a class="gtm-favorites-consult" href="{{ url_for('user.favorites_list') }}">Mes favoris</a>
      </li>
      {% if user.is_admin %}
        <li>
          <a href="{{ url_for('admin.index') }}">Admin</a>
        </li>
      {% endif %}
    </ul>
    <hr>
    {% if pro_version_enabled %}
      <p>
        <span class="badge badge-info small">Version PRO</small>
      </p>
      <ul>
        <li>
          <a href="{{ url_for('data.home') }}">Mapping ROME/NAF</a>
        </li>
      </ul>
      <hr>
    {% endif %}
    <p>
      <a href="{{ url_for('auth.logout') }}" class="logout">Se déconnecter</a>
    </p>
  </div>
</div>
{% endif %}
