{% if romes %}
<table>
  <caption>
    Codes ROME associés au code NAF
    <strong>{{ naf }} - {{ naf_name }}</strong>
  </caption>
  <thead>
    <tr>
      <th scope="col">ROME</th>
      <th scope="col">Nom</th>
      <th scope="col" colspan="2">
        Nombre de recrutements
        <br />
        <span class="badge badge-info">{{ total_hirings_for_naf }}</span>
      </th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    {% for rome in romes %}
    <tr>
      <td><strong>{{ rome.code }}</strong></td>
      <td>{{ rome.name }}</td>
      {% with hirings_for_naf = rome.nafs[naf] %}
      <td>
        <span class="badge badge-info">{{ hirings_for_naf }}</span>
      </td>
      <td>
        {{ (hirings_for_naf / total_hirings_for_naf * 100) | round(2) }} %
      </td>
      {% endwith %}
      <td>
        <small
          ><a href="{{ url_for('data.nafs_for_rome', rome=rome.code) }}"
            >NAF associés</a
          ></small
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
