{% extends 'data/base.html' %}

{% block title %}Codes NAF associés à un code ROME{{ super() }}{% endblock %}

{% block data_content %}

  <h2>Codes NAF associés à un code ROME</h2>

  <form class="form-vertical" action="" method="get">
    {% include "includes/form_content.html" %}
  </form>

  {% if nafs %}
    <table>
      <caption>
        Codes NAF associés au code ROME <b>{{ rome }} - {{ rome_name }}</b>
      </caption>
      <thead>
        <tr>
          <th>NAF</th>
          <th>Nom</th>
          <th colspan="2">
            Nombre de recrutements
            <br>
            <span class="badge badge-info">{{ total_hirings_for_rome }}</span>
          </th>
          <th>Coefficient d'affinité : pourcentage des recrutements de ce NAF qui sont fait avec ce ROME</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        {% for naf in nafs %}
          <tr>
            <td><b>{{ naf.code }}</b></td>
            <td>{{ naf.name }}</td>
            <td>
              <span class="badge badge-info">{{ naf.hirings }}</span>
            </td>
            <td>
              {{ (naf.hirings / total_hirings_for_rome * 100) | round(2) }} %
            </td>
            <td>
              {{ (naf.affinity * 100) | round(2) }} %
            </td>
            <td>
              <small><a href="{{ url_for('data.romes_for_naf', naf=naf.code) }}">ROME associés</a></small>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}
