<!DOCTYPE HTML>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">

  {% if google_site_verification_code %}
    <meta name="google-site-verification" content="{{ google_site_verification_code }}">
  {% endif %}

  <title>{% block fulltitle %}{% block title %}{% endblock %} | La Bonne Boite{% endblock %}</title>

  {% block extrahead %}{% endblock %}
  {% assets "css_all" %}<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">{% endassets %}

  {% if tag_manager_url %}
    <script async src="{{ tag_manager_url }}"></script>
  {% endif %}
</head>

<body>
  <a class="escape-link" href="#main-anchor">Passer directement au contenu principal</a>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="lbb-flash-alerts">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} js-alert-close">
            <p>{{ message }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <header role="banner" class="lbb-header-wrapper">
    <ul class="lbb-header">
      <li class="lbb-header-logo-mariane">
        <img src="{{ url_for('static', filename='images/logo-mariane.svg') }}" alt="Logo La Bonne Boite - Pôle emploi">
      </li>

      <li class="lbb-header-logo-lbb">
        <a href="/">
          <img src="{{ url_for('static', filename='images/logo-lbb.svg') }}" alt="Logo La Bonne Boite - Pôle emploi">
        </a>
      </li>

      <li class="float-right lbb-header-logo-pole-emploi">
        <a href="https://www.pole-emploi.fr/accueil/" target="_blank" class="fr-raw-link">
          <img src="{{ url_for('static', filename='images/logo-pe.svg') }}" alt="Logo Pôle emploi">
        </a>
      </li>

      <li class="float-right" id="user-header">
          {% include 'user/header.html' %}
      </li>

      {# PRO ZONE #}
      {% if user_is_pro %}
        <li class="float-right lbb-header-entry gtm-pro-version">
          <a
            class="lbb-header-btn" href="{{ url_for('user.pro_version') }}?next={{ request.url | urlencode }}"
            {% if pro_version_enabled %}
              title="Désactiver la version pro"
            {% else %}
              title="Activer la version pro"
            {% endif %}
          >
            <span class="lbb-header-btn no-padding">
              {% if pro_version_enabled %}
                <img class="no-margin" src="{{ url_for('static', filename='images/pro/pro-color.svg') }}" alt="Version PRO active" data-toggle="tooltip" data-placement="bottom" data-original-title="La version PRO affiche des indicateurs exclusifs (Junior, Senior et BOE [Bénéficiaire de l'Obligation d'Emploi]) non disponibles au public, uniquement visibles aux conseillers Pôle emploi et à une sélection d'acteurs.">
              {% else %}
                <img class="no-margin" src="{{ url_for('static', filename='images/pro/pro.svg') }}" alt="Version PRO inactive" data-toggle="tooltip" data-placement="bottom" data-original-title="La version PRO affiche des indicateurs exclusifs (Junior, Senior et BOE [Bénéficiaire de l'Obligation d'Emploi]) non disponibles au public, uniquement visibles aux conseillers Pôle emploi et à une sélection d'acteurs.">
              {% endif %}
            </span>
            {% if pro_version_enabled %}
              <p class="lbb-switch on" aria-hidden="true">
            {% else %}
              <p class="lbb-switch" aria-hidden="true">
            {% endif %}
              <span class="on">On</span>
              <span class="off">Off</span>
            </p>
          </a>
        </li>
      {% endif %}
      {# END PRO ZONE #}

    </ul>
  </header>

  <main role="main" id="content">
    <a id="main-anchor" tabindex="-1"></a>
    {% block content %}{% endblock %}
  </main>

  <footer class="lbb-footer-wrapper" role="contentinfo">
    <div class="lbb-footer">
      <ul>
        <li>
          <a href="{{ url_for('root.lbb_help') }}" title="Conseils pour faire une candidature spontanée">Conseils</a>
        </li>
        <li>
          <a href="{{ url_for('root.faq') }}" title="F.A.Q -Questions fréquentes">F.A.Q</a>
        </li>
        <li>
          <a href="https://pole-emploi.io/data/api/bonne-boite" target="_blank" title="Documentation de notre API pour développeurs">API</a>
        </li>
        <li>
          <a href="https://github.com/StartupsPoleEmploi/labonneboite" target="_blank" title="Consulter notre code source ouvert sur Github pour développeurs">Code source ouvert</a>
        </li>
        <li>
          <a href="{{ url_for('root.cgu') }}" title="C.G.U - Conditions générales d'utilisation">C.G.U</a>
        </li>
        <li>
          <a href="{{ url_for('root.press') }}" title="Espace presse - Contenu à destination de la presse">Espace Presse</a>
        </li>
        <li class="text-bold">
          <a href="{{ url_for('contact_form.ask_action') }}" title="Accès recruteurs pour modification de vos données entreprises">Accès recruteurs</a>
        </li>
        <li>
          <span class="js-obfuscated-email">rf.iolpme-elop@etiobennobal</span>
        </li>
        <li>
          <a href="{{ url_for('root.accessibility') }}" title="En savoir plus sur la démarche accessibilité du site">Accessibilité</a>
        </li>
        {% if pro_version_enabled %}
          <li>
            <a href="{{ url_for('root.kit') }}" title="Kit de présentation de La Bonne Boite">Boîte à outils</a>
            <span class="badge badge-info small">PRO</span>
          </li>
          <li>
            <a href="{{ url_for('root.stats') }}" title="Consulter nos statistiques sur Google Analytics">Statistiques</a>
            <span class="badge badge-info small">PRO</span>
          </li>
        {% endif %}
      </ul>
      <div class="lbb-sponsor-logos">
        <a href="https://europa.eu/european-union/index_fr" target="_blank" class="fr-raw-link">
          <img src="{{ url_for('static', filename='images/logo-ue.svg') }}" alt="Union Européenne">
        </a>
        <a href="http://www.fse.gouv.fr/" target="_blank" class="fr-raw-link">
          <img src="{{ url_for('static', filename='images/logo-FSE-color.svg') }}" alt="L'Europe s'engage en France">
        </a>
      </div>
      <div class="lbb-sponsor-text">
        <p>Ce dispositif est cofinancé par le Fonds Social Européen dans le cadre du Programme opérationnel national "emploi et inclusion" 2014-2020</p>
      </div>      
    </div>
  </footer>

  <div class="modal-overlay modal-closed">
  </div>
  <div id="tilkee-modal" class="modal modal-closed" aria-modal="true" aria-hidden="true">
    <button class="modal-close-button"><img alt="Fermer la fenêtre" src="{{ url_for('static', filename='images/icons/times.svg') }}"></button>
    <div class="modal-content">
      <div class="modal-content-inner text-left text-bold" style="font-size: 140%;">
        <p><img class="tilkee-cv" src="{{ url_for('static', filename='images/cv.png')}}" alt="">Envie de savoir si votre candidature a intéressé l'entreprise ? <br /><br />La Bonne Boite vous propose de suivre la consultation de votre CV par le recruteur.</p>
        <p><button class="btn modal-close-button">C'est parti !</button></p>
      </div>
    </div>
  </div>

  <div id="jepostule-not-authentified-modal" class="modal modal-closed" aria-modal="true" aria-hidden="true" aria-labelledby="#je-postule-title">
    <button class="modal-close-button"><img alt="Fermer la fenêtre" src="{{ url_for('static', filename='images/icons/times.svg') }}"></button>
    <div class="modal-content">
      <div class="modal-content-inner text-center">
        <p id="je-postule-title" class="text-bold">Cette fonctionnalité est disponible uniquement aux utilisateurs connectés.</p>
        <p>
          En poursuivant vous acceptez nos conditions d'utilisation de vos données personnelles (RGPD).
          <button class="btn btn-light btn-small rgpd-info" aria-haspopup="true" aria-controls="#modal-id">En savoir plus</button>
        </p>
        <p>
            <a class="logo-pe-connect rgpd-accept" href="{{ url_for('social.auth', backend='peam-openidconnect') }}?next={{ (next_url_modal or next_url or request.url) | urlencode }}">
              <img src="{{ url_for('static', filename='images/logo-pe-connect.svg') }}" alt="Se connecter avec Pôle emploi">
            </a>
        </p>
        <p>
          Vous n'avez pas de compte ?
          <br />
          Créez-en un sur le site Pôle emploi et revenez postuler spontanément sur La bonne boite !
        </p>
        <p>
          <a class="lbb-create-pe-account__link gtmCreationComptePE" href="https://candidat.pole-emploi.fr/compte/creation/preambule" target="_blank" rel="noreferrer noopener">Créer un compte Pôle emploi</a>
        </p>
      </div>
    </div>
  </div>

  <script>
      {# Place global js variables here #}
      window.USER_IS_AUTHENTICATED = {{ "true" if user.is_authenticated else "false" }};
      window.CSRF_TOKEN = "{{ csrf_token() }}";
  </script>

  {# Load libraries before template scripts to make jQuery and co available. #}
  {% assets "js_all" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}

  {% block scripts %}{% endblock %}

  {% if tilkee_enabled %}
  <script>
    $(document).on('lbbready', showTilkeeIntro);
  </script>
  {% endif %}

  <script>
    $(".jepostule-not-authentified").on('click', function() {
      showModal("#jepostule-not-authentified-modal");
    });
  </script>

  <script>
      // Trigger our own ready event
      (function($){
          $(document).ready(function() {
            $(document).trigger('lbbready');
          });
      })(jQuery);
  </script>

  <script type="text/javascript">
    var ua = window.navigator.userAgent;
    // MSIE : IE6 -> 10 & Trident: IE 11
    if (ua.indexOf('MSIE ') !== -1 || ua.indexOf('Trident/') !== -1) {
      var id = 'polyfill-ie-css';
      if (!document.getElementById(id)) {
        var fcss = document.getElementsByTagName('link')[0];
        var css = document.createElement('link');
        css.id = id;
        css.rel = 'stylesheet';
        css.href = "/static/css/ie-patch.css";
        fcss.parentNode.insertBefore(css, fcss);
      }
    }
  </script>


  {% block footer_scripts %}{% endblock %}

</body>
</html>
