{% extends 'base.html' %}

{% block fulltitle %}La Bonne Boite | N'envoyez plus vos CV au hasard{% endblock %}

{% block extrahead %}
<meta name="description"
  content="Envoyez votre CV à la bonne entreprise ! Découvrez en un clic les entreprises qui recrutent dans votre métier près de chez vous">
<meta name="title" content=">La Bonne Boite | Les entreprises qui recrutent près de chez vous">
{% endblock %}

{% block content %}

<div class="lbb-content">
  <div class="lbb-single-column-content text-center">

    <h1 class="lbb-home-title">
      {% if pro_version_enabled %}
        La version PRO affiche des indicateurs exclusifs (Junior, Senior et Bénéficiaire de l'Obligation d'Emploi).
      {% else %}
        Trouvez ici les entreprises qui recrutent régulièrement, et contactez-les !*
      {% endif %}
    </h1>

    <form action="{{ url_for('search.entreprises') }}" class="lbb-home-form-search js-search-form" method="get">

      {% include "includes/search_form.html" %}

      <div class="form-search-additional-fields">
        La Bonne Boite vous aide à identifier les entreprises qui recrutent autour de vous. Recherchez, Postulez et
        Trouvez votre prochain employeur
      </div>

      {{ form.hidden_tag() }}

    </form>

    {% if not pro_version_enabled %}
      <p class="lbb-home-explanation lbb-grey small">
        *Grâce à un algorithme exclusif de Pôle emploi détectant les entreprises qui vont probablement embaucher ces 6
        prochains mois.
      </p>
    {% endif %}

  </div>
</div>

{% endblock %}
