{% extends 'base.html' %}

{% block title %}Demande de modification des informations de mon entreprise{% endblock %}

{% block content %}
<div class="lbb-content">
  <div class="lbb-single-column-content">

    <h2>Demande de modification des informations de mon entreprise</h2>

    <p class="text-center">Veuillez sélectionner votre situation :</p>

    <p class="text-center">
    	<a class="btn btn-large" href="{{ url_for('office.apply_for_job', siret=siret) }}">
    		Je souhaite postuler dans cette entreprise pour y travailler.
    	</a>
    </p>
    <p class="text-center">
    	<a class="btn btn-small" href="{{ url_for('office.change_info') }}">
    		Je travaille déjà dans cette entreprise et je souhaite modifier ses informations.
    	</a>
    </p>

  </div>
</div>
{% endblock %}
