{% extends 'base.html' %}

{% block title %}Demande de modification des informations de mon entreprise{{ super() }}{% endblock %}

{% block content %}
<div class="lbb-content">
  <div class="lbb-single-column-content">

    <h2>Demande de modification des informations de mon entreprise</h2>

    <p class="text-center">Le remplissage des champs accompagnés d'une étoile '*' est obligatoire</p>

    <form class="form-vertical" action="" method="post">
      {% include "includes/form_content.html" %}
    </form>

  </div>
</div>
{% endblock %}
