{% extends 'base.html' %}

{% block fulltitle %}Boîte à outils | La Bonne Boite{% endblock %}

{% block content %}
  <div class="lbb-content">


<h1 id="bo-te-outils-la-bonne-boite">Boîte à outils La bonne boite</h1>
<p>Certains documents, estampillés [Interne], sont destinés à une utilisation interne uniquement. 
L’ensemble des autres documents peuvent être partagés en externe !</p>
<p>Vous pouvez <a href="./LBB-BoiteAOutils.zip">Télécharger l&#39;ensemble des documents</a> ou télécharger seulement certains documents ci-dessous.</p>
<p>Si vous téléchargez l&#39;ensemble des documents, commencez par consulter le document chapeau &quot;LBB-BoiteAOutils-Sommaire&quot;.</p>
<h2 id="comprendre-et-pr-senter-la-bonne-boite-en-interne">Comprendre et présenter La bonne boite en interne</h2>
<ul>
<li>Présenter La bonne boite à vos collègues : <a href="./LBB-BoiteAOutils/LBB-PresentationConseillersEtPartenaires.pdf">LBB – Présentation conseillers et partenaires</a></li>
<li>Utiliser la version Pro et cibler les entreprises selon les publics : <a href="./LBB-BoiteAOutils/LBB-VersionPro.pdf">LBB – Version Pro</a></li>
<li><strong>[Interne]</strong> Tout savoir sur les entreprises affichées : <a href="./LBB-BoiteAOutils/LBB-EntreprisesAffichees.pdf">LBB – Entreprises affichées</a></li>
</ul>
<h2 id="promouvoir-la-bonne-boite-aupr-s-des-de">Promouvoir La bonne boite auprès des DE</h2>
<ul>
<li>Présenter La bonne boite à vos DE : <a href="./LBB-BoiteAOutils/LBB-PresentationDE.pdf">LBB – Présentation DE</a></li>
<li>Modèle de mail : <a href="./LBB-BoiteAOutils/LBB-MailDePromotionAuxDE.docx">LBB – Mail de promotion aux DE</a></li>
</ul>
<h2 id="vid-o-de-pr-sentation-du-service">Vidéo de présentation du service</h2>
<ul>
<li>Le service présenté sur Youtube : <a href="https://www.youtube.com/watch?v=AAUNWhmVm2Y">La bonne boite, Mieux cibler les entreprises pour vos candidatures spontanées</a></li>
<li>La mécanique expliquée sur Dailymotion : <a href="https://www.dailymotion.com/video/x7uv803">Expliquer l&#39;algorithme de La bonne boite en 1&#39;30</a></li>
</ul>
<h2 id="affiche-et-logo">Affiche et logo</h2>
<ul>
<li>Affiche en format A3  : <a href="./LBB-AfficheA3.pdf">LBB – Affiche A3</a></li>
<li>Logo aux formats svg et png : <a href="./LBB-BoiteAOutils/LBB-Logo.png" target="_blank">LBB – Logo (png)</a> et <a href="./LBB-BoiteAOutils/LBB-Logo.svg" target="_blank">LBB - Logo (svg)</a></li>
</ul>
<p>Ce document introduit les fichiers présents dans l’archive.</p>



</div>
{% endblock %}

