{#

Generic form content rendering.

If you have multiple forms, you can use the `with` statement, e.g.:

  {% with form=form1 %}
    <form class="form-vertical" action="" method="post">
      {% include "includes/form_content.html" %}
    </form>
  {% endwith %}

  {% with form=form2 %}
    <form class="form-vertical" action="" method="post">
      {% include "includes/form_content.html" %}
    </form>
  {% endwith %}

#}

{% for field in form if field.widget.input_type != 'hidden' %}
  <div{% if field.errors %} class="form-error"{% endif %}>
    {% set is_required = field.validators[0].__class__.__name__ == "DataRequired"%}

    {% if field.type == 'BooleanField' %}
      <div class="checkbox-container">
        {{ field(**compute_input_attributes(field)) }}
        {{ field.label }}
      </div>
    {% elif field.type == 'RadioField'%}
      <fieldset>
        <legend>{{ field.label.text }}</legend>
        {{ field(**compute_input_attributes(field)) }}
      </fieldset>
    {% else %}
      {{ field.label }}
      {{ field(**compute_input_attributes(field)) }}
    {% endif %}

    {% if field.description %}<p id="{{ field.id }}_description" class="form-help-text">{{ field.description|safe }}</p>{% endif %}
    {% if field.errors %}
    <ul class="form-errorlist" id="{{ field.id }}_errors">
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
{% endfor %}

{{ form.hidden_tag() }}

<p class="submit-button">
  <input class="btn" type="submit" value="{{ submit_text if submit_text else 'Valider' }}">
</p>