<div class="form-search">

  <div>

    {% set css_class = "input-icon input-icon-suitcase" %}
    {% set placeholder = "Métier recherché : (boucher, cariste, secrétaire, ...)" %}
    {% if form.job.errors %}
      {% set css_class = "input-icon input-icon-suitcase form-error" %}
    {% endif %}
    {{ form.job(class=css_class, required="required", placeholder=placeholder) }}

    {% set css_class = "input-icon input-icon-location" %}
    {% set placeholder = "Autour de : (Paris, Pau, ...)" %}
    {% if form.location.errors %}
      {% set css_class = "input-icon input-icon-location form-error" %}
    {% endif %}
    {{ form.location(class=css_class, required="required", placeholder=placeholder) }}

  </div>

  <button class="btn" type="submit">
    <img src="{{ url_for('static', filename='images/input-icons/magnifier-white.svg') }}" alt="Chercher">
    <span class="spinner hidden"></span>
  </button>

</div>

{% if form.job.errors or form.location.errors %}
  <ul class="form-errorlist">
    {% if form.job.errors %}<li>Veuillez préciser le métier recherché.</li>{% endif %}
    {% if form.location.errors %}<li>Veuillez préciser le lieu de votre recherche.</li>{% endif %}
  </ul>
{% endif %}
