<div class="form-search">

  <div>

    {% set css_class = "input-icon input-icon-suitcase" %}
    {% set placeholder = "Métier recherché : (boucher, cariste, secrétaire, ...)" %}
    {% if form.j.errors %}
      {% set css_class = "input-icon input-icon-suitcase form-error" %}
    {% endif %}
    {{ form.j.label(class="sr-only") }}
    {{ form.j(class=css_class, required="required", placeholder=placeholder) }}

    {% set css_class = "input-icon input-icon-location" %}
    {% set placeholder = "Autour de : (Paris, Bd Voltaire, 33000...)" %}
    {% if form.l.errors %}
      {% set css_class = "input-icon input-icon-location form-error" %}
    {% endif %}
    {{ form.l.label(class="sr-only") }}
    {{ form.l(class=css_class, required="required", placeholder=placeholder) }}

  </div>

  <button class="btn" type="submit">
    <img src="{{ url_for('static', filename='images/icons/magnifier-white.svg') }}" alt="Chercher">
    <span class="spinner hidden"></span>
  </button>

</div>

{% if form.j.errors or form.l.errors %}
  <ul class="form-errorlist">
    {% if form.j.errors %}<li>Veuillez préciser le métier recherché.</li>{% endif %}
    {% if form.l.errors %}<li>Veuillez préciser le lieu de votre recherche.</li>{% endif %}
  </ul>
{% endif %}
