{% extends 'base.html' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block content %}
<div class="lbb-content">
    <div class="lbb-single-column-content">
        <h1>Accessibilité</h1>

        <small>Date de dernière mise à jour : 12 décembre 2022</small>

            <p>
                Pôle emploi s’engage à rendre ses sites internet, intranet, extranet, progiciels, applications
            mobiles et mobilier urbain numérique accessibles conformément à l’article 47 de la loi
            n°2005-102 du 11 février 2005.
            </p>

            <p>
                À cette fin, il met en œuvre la stratégie et les actions suivantes :
            </p>

            <ul>
                <li>Schéma pluriannuel de mise en accessibilité 2023-2025 : en cours de rédaction</li>
                <li>Plan d’action 2023 : en cours de rédaction</li>
            </ul>

            <p>
                Cette déclaration d’accessibilité s’applique au site <a href="https://pole-emploi.fr/" target="_blank">www.pole-emploi.fr</a>.
            </p>

            <h2>
                État de conformité
            </h2>

            <p>
                Le site labonneboite.pole-emploi.fr est non-conforme avec le référentiel général d’amélioration
            de l’accessibilité (RGAA), version 4.1 en raison des non-conformités et des dérogations
            énumérées ci-dessous.
            </p>

            <h2>
                Résultats des tests
            </h2>

            <p>
                L’audit a été réalisé par Temesis et nous permettent de fournir à date les résultats détaillés
                suivant :
            </p>

            <ul>
                <li>40 % des critères RGAA sont respectés.</li>
            </ul>

            <h2>
                Contenus non accessibles
            </h2>

            <p>
                Les contenus listés ci-dessous ne sont pas accessibles pour les raisons suivantes :
            </p>

            <h3>Non-conformités</h3>

            <h4>Images</h4>
            <ul>
                <li>Critère 1.2 – Certaines images décoratives ne sont pas ignorées par les technologies
                    d’assistance</li>
                <li>Critère 1.3 – Certaines images porteuses d’informations sont ignorées par les
                    technologies d’assistance.</li>
            </ul>
            <h4>Cadres</h4>
            <ul>
                <li>Critère 2.1 – Certains cadres n’ont pas de titre.</li>
            </ul>
            <h4>Couleurs</h4>
            <ul>
                <li>Critère 3.2 – Certains textes n’ont pas un rapport de contraste suffisant avec leur
                    arrière-plan</li>
                <li>Critère 3.3 – Certains composants d’interface n’ont pas un contraste suffisant avec leur arrière-plan.</li>
            </ul>

            <h4>Tableaux</h4>
            <ul>
                <li>Critère 5.1 – Certains tableaux de données complexes n’ont pas de résumé</li>
                <li>Critère 5.6 – Dans certains tableaux de données, les en-têtes de colonnes et de lignes
                    ne sont pas toujours correctement déclarés</li>
                <li>Critère 5.7 – Dans certains tableaux de données, les cellules ne sont pas correctement
                    associées avec leurs en-têtes.</li>
            </ul>
            <h4>Liens</h4>
            <ul>
                <li>Critère 6.1 – Certains liens n’ont pas d’intitulé pertinent.</li>
            </ul>

            <h4>Scripts</h4>
            <ul>
                <li>Critère 7.1 – Certains composants ne sont pas restitués par les aides techniques</li>
                <li>Critère 7.3 – Certains composants ne fonctionnent pas au clavier</li>
            </ul>

            <h4>Éléments obligatoires</h4>
            <ul>
                <li>Critère 8.2 – Présence de problèmes de conformité de code pouvant
                    exceptionnellement entraîner des erreurs d’affichage de la page ;</li>
                <li>Critère 8.6 – Certains titres de page (balise title) ne sont pas suffisamment pertinents</li>
                <li>Critère 8.7 – Certains changements de langue ne sont pas indiqués dans le code
                    source ;</li>
                <li>Critère 8.9 – Certaines balises sont utilisées à des fins de présentation.</li>
            </ul>

            <h4>Structuration de l’information</h4>
            <ul>
                <li>Critère 9.1 – Certains titres ne sont pas structurés comme tels ou ne respectent pas un
                    ordre logique ;</li>
                <li>Critère 9.2 – La structure du document n'est pas toujours cohérente ;</li>
                <li>Critère 9.3 – Certaines listes ne sont pas correctement structurées</li>
            </ul>

            <h4>Présentation de l’information</h4>
            <ul>
                <li>Critère 10.1 – Présence d'attribut de présentation dans le code source</li>
                <li>Critère 10.2 – Des informations ne sont plus visibles lorsque les feuilles de style sont
                    désactivées</li>
                <li>Critère 10.3 – Des informations ne sont plus compréhensibles lorsque les feuilles de
                    style sont désactivées</li>
                <li>Critère 10.8 – Présence de contenus cachés n’ayant pas vocation à être ignorés par les
                    aides techniques</li>
                <li>Critère 10.9 – Certaines informations sont données uniquement par la position</li>
                <li>Critère 10.11 – Si la page est redimensionnée en 320 pixels de large, certains contenus
                    ne s’affichent plus</li>
                <li>Critère 1012 – Des erreurs de lisibilité peuvent apparaître lorsque les propriétés
                    d’espacement du texte sont redéfinies par l’utilisateur ;</li>
                <li>Critère 10.13 – Les infos bulles ne peuvent être survolées par le pointeur de la souris
                    sans disparaître.</li>
            </ul>

            <h4>Formulaires</h4>
            <ul>
                <li>Critère 11.1 – Certaines étiquettes sont absentes ou non restituées par les aides
                    techniques</li>
                <li>Critère 11.5 – Certains champs de même nature ne sont pas regroupés</li>
                <li>Critère 11.9 – Certains intitulés de boutons ne sont pas suffisamment explicites</li>
                <li>Critère 11.10 – Sur certains champs, le contrôle de saisie n'est pas utilisé de manière
                    pertinente</li>
                <li>Critère 11.13 – Certains champs ne peuvent pas être remplis automatiquement avec les
                    données de l'utilisateur</li>
            </ul>

            <h4>Navigation</h4>
            <ul>
                <li>Critère 12.1 – Absence d’au moins deux systèmes de navigation</li>
                <li>Critère 12.8 – L'ordre de tabulation n'est pas toujours cohérent et la gestion du focus
                    n'est pas toujours pertinente.</li>
            </ul>

            <h4>Consultation</h4>
            <ul>
                <li>Critère 13.3 – Certains documents bureautique téléchargeables ne sont pas
                    compatibles avec les aides techniques.</li>
            </ul>

            <h2>Dérogation pour charge disproportionnée</h2>


            <p>Aucune dérogation pour charge disproportionnée n’a été faite.</p>

            <h2>Contenus non soumis à l’obligation d’accessibilité</h2>

            <ul>
                <li>Les fichiers disponibles dans des formats bureautiques publiés avant le 23 septembre
                    2018;</li>
                <li>Les contenus de tiers qui ne sont ni financés ni développés par l’organisme concerné et
                    qui ne sont pas sous son contrôle (bandeau cookie, lecteur YouTube) ;</li>
            </ul>

            <h2>Établissement de cette déclaration d’accessibilité</h2>


            <p>Cette déclaration a été établie le 12/12/2022</p>

            <h2>Technologies utilisées pour la réalisation de pole-emploi.fr</h2>

            <ul>
                <li>HTML5</li>
                <li>JavaScript.</li>
                <li>CSS</li>
            </ul>

            <h2>Environnement de test</h2>

            <p>
                Les vérifications de restitution de contenus ont été réalisées sur la base de la combinaison
            fournie par la base de référence du RGAA 4.1, avec les versions suivantes, sur
            environnement de bureau
            </p>

            <ul>
                <li>NVDA 2022.1, Firefox 102</li>
                <li>Jaws 21, Firefox 102</li>
                <li>Voiceover, Safari, osX 12.1</li>
            </ul>

            <h2>Outils pour évaluer l’accessibilité</h2>


            <ul>
                <li>WCAG contrast checker</li>
                <li>HeadingsMap</li>
                <li>Web developer</li>
                <li>ARC Toolkit</li>
                <li></li>
            </ul>

            <h2>Pages du site ayant fait l’objet de la vérification de conformité</h2>

            <ul>
                <li>1. Accueil : <a href="https://labonneboite.pole-emploi.fr/" target="_blank">https://labonneboite.pole-emploi.fr/</a></li>
                <li>2. Liste d’entreprises : <a href="https://labonneboite.pole-emploi.fr/entreprises?j=Boucherie+%28Boucher+%2F+Bouch%C3%A8re%2C+...%29&l=77&ij=&occupation=boucherie&lat=&lon=&departments=" target="_blank">https://labonneboite.pole-emploi.fr/entreprises?j=Boucherie+%28Boucher+%2F+Bouch%C3%A8re%2C+...%29&l=77&ij=&occupation=boucherie&lat=&lon=&departments=</a></li>
                <li>3. Mon compte (connecté) : <a href="https://labonneboite.pole-emploi.fr/user/account" target="_blank">https://labonneboite.pole-emploi.fr/user/account</a></li>
                <li>4. Mes favoris (connecté) : <a href="https://labonneboite.pole-emploi.fr/user/favorites/list" target="_blank">https://labonneboite.pole-emploi.fr/user/favorites/list</a></li>
                <li>5. Boîte à outils (pro connecté) : <a href="https://labonneboite.pole-emploi.fr/boite-a-outils/" target="_blank">https://labonneboite.pole-emploi.fr/boite-a-outils/</a></li>
                <li>6. Codes ROME (pro connecté) : <a href="https://labonneboite.pole-emploi.fr/data/romes-for-naf" target="_blank">https://labonneboite.pole-emploi.fr/data/romes-for-naf</a></li>
                <li>7. Je postule (en 5 étape)</li>
                <li>8. Espace recruteur - demande de modification</li>
                <li>9. Espace recruteur - choix de l’action :10.Espace recruteur - identification ½</li>
                <li>10. Espace recruteur - identification 2/2 :</li>
                <li>11. Espace recruteur - modification fiche d’entreprise</li>
                <li>12. Espace recruteur - confirmation</li>
                <li>13. Espace recruteur - Modification des métiers</li>
                <li>14. Accessibilité : <a href="https://labonneboite.pole-emploi.fr/accessibilite" target="_blank">https://labonneboite.pole-emploi.fr/accessibilite</a></li>
                <li>15. FAQ : <a href="https://labonneboite.pole-emploi.fr/faq" target="_blank">https://labonneboite.pole-emploi.fr/faq</a></li>
                <li>16. Candidature spontanée : <a href="https://labonneboite.pole-emploi.fr/comment-faire-une-candidature-spontanee" target="_blank">https://labonneboite.pole-emploi.fr/comment-faire-une-candidature-spontanee</a></li>
            </ul>


            <h2>Retour d’information et contact</h2>

            <p>
                Pôle emploi s'engage à prendre les moyens nécessaires afin de donner accès, dans un délai
            raisonnable, aux informations et fonctionnalités recherchées par la personne handicapée,
            que le contenu fasse l'objet d'une dérogation ou non.
            </p>


            <p>
                Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le
            responsable de ce site internet pour être orienté vers une alternative accessible ou obtenir le
            contenu sous une autre forme, en envoyant un mail à 
            <a href="mailto:accessibilite-numerique-support@pole-emploi.fr" target="_blank">accessibilite-numerique-support@pole-emploi.fr</a>


            </p>



            <p>Vous pouvez également contacter nos services par téléphone :</p>

            <ul>
                <li>Demandeur d’emploi : appeler le 3949 (service gratuit + prix appel)</li>
                <li>Employeur : appeler le 3995 (service gratuit + prix appel)</li>
            </ul>

            <h4>
                Voies de recours
            </h4>

            <p>
                Si vous constatez un défaut d'accessibilité vous empêchant d'accéder à un contenu ou une
            fonctionnalité du site, que vous nous le signalez et que vous ne parvenez pas à obtenir une
            réponse de notre part, vous êtes en droit de faire parvenir vos doléances ou une demande
            de saisine au Défenseur des droits.
            </p>

            <p>
                Plusieurs moyens sont à votre disposition
            </p>

            <ul>
                <li>Écrire un message au Défenseur des droits : <a href="https://formulaire.defenseurdesdroits.fr/">formulaire de saisie du défenseur des droits</a></li>
                <li>Contacter le délégué du Défenseur des droits dans votre région : <a href="https://www.defenseurdesdroits.fr/saisir/delegues">saisir un délégué du
                    défenseur des droits proche de chez moi</a></li>
                <li>
                    Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) :
                    
            <p>Défenseur des droits</p>
            <p>Libre réponse 71120</p>
            <p>75342 Paris CEDEX 07</p>

                    
                </li>
                <li>Contacter le Défenseur des droits par téléphone : 09 69 39 00 00</li>
            </ul>











    </div>

</div>
{% endblock %}
