{% extends 'base.html' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block content %}
<div class="lbb-content">
    <div class="lbb-single-column-content">
        <h1>Accessibilité</h1>

        <p class="italic">Date de dernière mise à jour : 8 mars 2019</p>

        <p>
            L’article 47 de la loi n° 2005-102 du 11 février 2005 pour
            l’égalité des droits et des chances, la participation et la
            citoyenneté des personnes handicapées fait de l’accessibilité
            une exigence pour tous les services de communication
            publique en ligne de l’État, les collectivités territoriales et les
            établissements publics qui en dépendent.
        </p>

        <p>
            Il stipule que les informations diffusées par ces services doivent
            être accessibles à tous.
        </p>

        <p>
            Le référentiel général d’accessibilité pour les administrations
            (RGAA) rendra progressivement accessible l’ensemble des
            informations fournies par ces services.
        </p>

        <p>
            Le site <a href="https://labonneboite.pole-emploi.fr">La Bonne Boite</a> est en cours d’optimisation afin de
            le rendre conforme au 
            <a  href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/" target="_blank" title="Visiter la page dédiée au référentiel RGAA (Ouverture dans une nouvelle fenêtre)">RGAA v4</a>.
            La déclaration de conformité sera publiée ultérieurement.
        </p>

        <h2>Nos engagements</h2>
        <ul>
            <li>Audit de mise en conformité (en cours) pour nous aider à détecter les potentiels oublis
                d&#39;accessibilité</li>
            <li>Déclaration d&#39;accessibilité (en cours) pour expliquer en toute transparence notre démarche</li>
            <li>Mise à jour de cette page pour vous tenir informés de notre progression</li>
        </ul>

        <p>
            Nos équipes ont ainsi travaillé sur les contrastes de couleur, la présentation et la structure de
            l’information ou la clarté des formulaires.
        </p>

        <p>
            <strong>Des améliorations vont être apportées régulièrement.</strong>
        </p>

        <h2>Améliorations et contact</h2>
        <p>
            L&#39;équipe de La Bonne Boite reste à votre écoute et entière disposition, si vous souhaitez
            nous signaler le moindre défaut de conception.
        </p>
        <p>
            Vous pouvez nous aider à améliorer l’accessibilité du site en nous
            signalant les problèmes éventuels que vous rencontrez.<br />
            Pour nous contacter : 
            <span class="js-obfuscated-email" data-subject="Améliorations accessibilité numérique" data-title="Nous contacter concernant l'accessibilité du site">
                rf.iolpme-elop@etiobennobal
            </span>
        </p>

        <p>
            Vous pouvez aussi soumettre vos demandes de modification sur
            <a href="https://github.com/StartupsPoleEmploi/labonneboite" target="_blank" title="Consulter notre code source ouvert sur Github">
                la plate-forme Github
            </a>
        </p>

    </div>

</div>
{% endblock %}
