{% extends 'base.html' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block content %}
<div class="lbb-content">
  <div class="lbb-single-column-content">

    <h1>Conditions Générales d'Utilisation</h1>

    <div class="text-center"><em>Dernière mise à jour le : 20/04/2021</em></div>

    <h2>1. Mentions légales</h2>
    <h3>Editeur</h3>
    <p>
      Pôle emploi<br>
      15 avenue du Docteur Gley<br>
      75987 Paris cedex 20<br>
      Tél. 01 40 30 60 00<br>
    </p>
    <h3>Directeur de la publication</h3>
    <p>
      Monsieur Jean Bassères, Directeur général.
    </p>
    <h3>Hébergeur</h3>
    <p>
      OVH<br>
      2 rue Kellermann<br>
      59100 Roubaix<br>
      Tél. 09 72 10 10 07<br>
    </p>

    <h2>2. Objet du site</a></h2>
    <p>Le site internet <a href="//{{ host }}">{{ host }}</a> a pour objet de faciliter les démarches de candidatures spontanées de l’utilisateur en l’aidant à identifier des entreprises ou organismes ayant un potentiel d’embauche dans un secteur d’emploi et un secteur géographique donnés.</p>

    <h2>3. Fonctionnement de La bonne boite</h2>
    <h3>3.1 Résultats de recherche</h3>
    <p>Le service proposé sur le site <a href="//{{ host }}">{{ host }}</a> permet à l’utilisateur de rechercher des entreprises ou organismes susceptibles de recruter des profils similaires au sien, en fonction des données qu’il a saisi (métier, secteur géographique).</p> 
    <p>Les entreprises ou organismes qui apparaissent dans les résultats de recherche peuvent être classés : 
    <ul>
      <li>en fonction de leur proximité géographique par rapport au périmètre défini par l’utilisateur ;</li>
      <li>en fonction du potentiel d’embauche des entreprises, calculé mensuellement par Pôle emploi et mis à jour quotidiennement en fonction des demandes formulées explicitement par les entreprises auprès des services La bonne boîte.</li>
    </ul>
    </p>

    <h3>3.2 Option pro</h3>      
    <p>L’option pro permet aux utilisateurs habilités d’accéder à des filtres supplémentaires afin de mieux cibler les entreprises qui recrutent en fonction du profil du candidat.</p>
      
    <h3>3.3 Se connecter avec pôle emploi</h3>      
    <p>L’utilisateur peut, s’il le souhaite, se connecter grâce aux identifiants de son espace personnel mis à sa disposition sur le site <a href="https://pole-emploi.fr/" target="_blank">www.pole-emploi.fr</a>. Une fois connecté, l’utilisateur à accès au service « Je postule ».</p>
          
    <h3>3.4 Modifier/supprimer une entreprise </h3>      
    <p>Chaque entreprise ou organisme peut s’opposer à tout moment à ce que son nom apparaisse dans les résultats de recherche et/ou modifier/supprimer les informations communiquées (ex. coordonnées). Pour cela, il lui suffit d’accéder au formulaire recruteur directement depuis la page d’accueil du site La bonne boite, puis de remplir le formulaire disponible via le lien « Modifier ces informations ».</p>
           
    <h2>4. Fonctionnement de « Je postule »</h2>
    <p>Le service « Je postule » permet à des personnes à la recherche d’un emploi d’envoyer des candidatures spontanées directement à partir du site internet La bonne boite et aux entreprises de répondre à ces candidatures. <br>
    Pour accéder à ce service, les usagers doivent se connecter via le service « Se connecter avec Pôle emploi ».</p>

    <h3>4.1 Envoyer une candidature</h3>
    <p>Le service « Je postule » permet aux candidats et demandeurs d’emploi d’envoyer directement leur candidature aux des entreprises dont les coordonnées sont renseignées sur le site.<br>
    Pour candidater, l’utilisateur complète un formulaire (coordonnées, CV, lettre de motivation, etc.) et peut, s’il le souhaite, adapter le mail de candidature pré-renseigné. La candidature est envoyée à l’entreprise. Cette candidature est stockée pendant 12 mois afin de permettre aux recruteurs de répondre aux candidatures directement via le site internet de La bonne boite.<br>
    En outre, les recruteurs peuvent télécharger les pièces que vous joignez à votre candidature, comme votre CV, et les conserver au sein de leur système d’information.</p> 
    
    <h3>4.2 Répondre à une candidature </h3>
    <p>Le service « Je postule » disponible sur La bonne boite permet aux entreprises de répondre aisément aux candidatures reçues via un formulaire pré-rédigé.</p>

    <h2>5. Protection des données à caractère personnel </h2>
    <p>L’utilisation du moteur de recherche disponible sur le site internet La bonne boite nécessite d’indiquer le(s) métier(s) recherché(s) ainsi que le périmètre géographique souhaité. Ces données sont collectées et traitées par Pôle emploi uniquement dans le but de fournir, à la requête de l’utilisateur, la liste des entreprises ou organismes ayant un potentiel d’embauche dans un secteur d’emploi et géographique donné.</p>
    <p>Pôle emploi traite également des données relatives aux entreprises qui peuvent concerner directement des personnes physiques, notamment les coordonnées des interlocuteurs personnes physiques de ces entreprises. </p>
    <p>L’utilisateur peut, s’il le souhaite, se connecter grâce aux identifiants de son espace personnel mis à sa disposition sur le site <a href="https://pole-emploi.fr/" target="_blank">www.pole-emploi.fr</a>. Cela lui permet d’envoyer une candidature spontanée à une entreprise dont l’adresse électronique est renseignée, directement par le biais du site internet La bonne boite.  Les données collectées (identité, coordonnées, candidature, pièces jointes) sont transmises à l’employeur. Elles sont également conservées par Pôle emploi afin de permettre aux recruteurs de répondre aux candidatures directement via La bonne boite. Elles ne sont pas stockées sur l’espace personnel de l’utilisateur sur pole-emploi.fr.</p>
    
    <p>Pôle emploi est le responsable de ce traitement. Ses coordonnées sont les suivantes : Pôle Emploi, 1-5 rue du docteur Gley, 75987, Paris cedex 20. Au titre de la licéité du traitement exigée par l’article 6 du règlement général (UE) sur la protection des données n°2016/679 du 27 avril 2016 (RGPD), le fondement juridique du traitement est la mission d’intérêt public dont est investie Pôle emploi en vertu de l’article L.5312-1 du code du travail qui consiste notamment à mettre en relation l’offre et la demande d’emploi. </p>
    <p>Conformément aux articles 12 à 23 du règlement général (UE) sur la protection des données n°2016/679 du 27 avril 2016 et à la loi Informatique et libertés n°78-17 du 6 janvier 1978 modifiée, vous bénéficiez notamment d’un droit d’accès, de rectification, de limitation du traitement, le droit de définir des directives sur le sort des données après votre mort et le droit de porter une réclamation devant la Commission nationale de l’informatique et des libertés pour les données vous concernant. Pour exercer vos droits, vous pouvez vous adresser au délégué à la protection des données de Pôle emploi par courrier postal (1 avenue du Docteur Gley, 75987 Paris cedex 20) ou par courriel (<a href="mailto:courriers-cnil@pole-emploi.fr">courriers-cnil@pole-emploi.fr</a>).</p>
      
    <h2>6. Cookies </h2>
    <h3>6.1 Qu'est-ce qu'un cookie ?</h3>
    <p>Un cookie est un petit fichier texte déposé sur le terminal des utilisateurs (par exemple, un ordinateur, une tablette, un smartphone, etc.) lors de la visite d’un site internet.<br>
    Il contient plusieurs données : le nom du serveur qui l’a déposé, un identifiant sous forme de numéro unique, et une date d’expiration. Les cookies ont différentes fonctionnalités. Ils ont pour but d’enregistrer les paramètres de langue d’un site, de collecter des informations relatives à votre navigation sur les sites, d’adresser des services personnalisés, etc.<br>
    Seul l’émetteur d’un cookie est susceptible de lire, enregistrer ou de modifier les informations qui y sont contenues.</p>

    <h3>6.2 Les cookies déposés sur le site</h3>
    <p>Sous réserve du choix de l’utilisateur, plusieurs cookies peuvent être utilisés sur le site internet <a href="//{{ host }}">{{ host }}</a>. Les différentes finalités de ces cookies sont décrites ci-dessous.</p>
    
    <p><strong>Cookies strictement nécessaires au fonctionnement du site</strong></p>
    <p>Des cookies sont utilisés sur le site internet <a href="//{{ host }}">{{ host }}</a> pour permettre le bon fonctionnement du site internet et l’utilisation des principales fonctionnalités du site.</p>
    <p>Ces cookies ne sont pas soumis au consentement de l’utilisateur. Ils permettent par exemple le maintien de la connexion ou la conservation du choix de l’usager sur le dépôt des cookies. Sans ces cookies, l’utilisation du site peut être dégradée et l’accès à certains services être rendu impossible. Il est déconseillé de les désactiver.</p>
    <p>L’utilisateur peut cependant s’opposer à leur dépôt en suivant les indications données au point 6.3. Ces cookies sont exclusivement déposés par Pôle emploi.</p>

    <p><strong>Cookies statistiques ou de mesure d’audience</strong></p>
    <p>Des cookies sont utilisés sur le site <a href="//{{ host }}">{{ host }}</a> afin d’effectuer de la mesure d’audience, des analyses statistiques dans le but d'améliorer l'expérience utilisateur et la performance du site internet. Ces cookies sont déposés par des tiers pour le compte de Pôle emploi.</p>
    <p>Concernant le dépôt des cookies Google Analytics et Google Optimize, la société Google collecte par l’intermédiaire de ce cookie des données pour son propre compte dans les conditions définies dans sa politique de confidentialité accessible par le lien suivant : <a href="https://policies.google.com/technologies/partner-sites?gl=fr">https://policies.google.com/technologies/partner-sites?gl=fr</a></p>
    <p>L’utilisateur peut paramétrer le dépôt des cookies en suivant les indications données au point 6.3. Le fait de refuser la mise en œuvre de tels cookies n'a pas d'incidence sur la navigation sur le site.</p>

    <p><strong>Cookies fonctionnels</strong></p>
    <p>Des cookies sont utilisés sur le site <a href="//{{ host }}">{{ host }}</a> afin de permettre le recueil du retour des utilisateurs.</p>
    <p>Le refus du dépôt de ces cookies n’a pas d’incidence sur l’utilisation des fonctionnalités principales du site. En revanche, la fonctionnalité permettant à l’utilisateur de donner son avis sur le site ne sera plus utilisable. L’utilisateur peut paramétrer le dépôt des cookies en suivant les indications données au point 6.3.</p>
    <p>Pour plus d’informations sur les cookies notamment sur le type de cookies déposés ainsi que leurs finalités précises, vous pouvez consulter la plateforme de gestion du consentement, <a href="#" onclick="tC.privacyCenter.showPrivacyCenter();return false"> disponible ici</a> .</p>

    <h3>6.3 Accepter ou refuser les cookies</h3>
    <p>L’utilisateur dispose de différents moyens pour gérer ses choix en matière de cookies. Les modalités de gestion diffèrent selon que le cookie est soumis ou non à consentement préalable. L’utilisateur peut modifier ses choix à tout moment. Pour information, le paramétrage des cookies est susceptible de modifier les conditions de navigation sur le site <a href="//{{ host }}">{{ host }}</a>, ainsi que les conditions d’accès à certains services et d’entrainer des dysfonctionnements de certaines fonctionnalités.</p>

    <p><strong>La plateforme de gestion du consentement </strong></p>
    <p>Pour les cookies donnant lieu à consentement préalable, l’utilisateur peut accepter ou refuser le dépôt de tout ou partie des cookies, à tout moment, en formulant des choix sur la plateforme de gestion du consentement <a href="#" onclick="tC.privacyCenter.showPrivacyCenter();return false"> via ce lien dédié </a>.</p>

    <p><strong>Le paramétrage du navigateur</strong></p>
    <p>L’utilisateur peut accepter ou refuser le dépôt de tout ou partie des cookies, à tout moment, en modifiant les paramètres de son navigateur (consulter la fonction « Aide » du navigateur pour en savoir plus) ou en se rendant sur l’une des pages suivantes, selon le navigateur utilisé : 
    <ul>
      <li>Google Chrome : <a href="https://support.google.com/chrome/answer/95647?hl=fr" target="_blank">https://support.google.com/chrome/answer/95647?hl=fr</a></li>
      <li>Internet Explorer : <a href="https://support.microsoft.com/fr-fr/help/17442" target="_blank">https://support.microsoft.com/fr-fr/help/17442</a></li>
      <li>Mozilla Firefox : <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies" target="_blank">https://support.mozilla.org/fr/kb/activer-desactiver-cookies</a></li>
      <li>Safari : <a href="https://support.apple.com/fr-fr/guide/safari/sfri11471/mac" target="_blank">https://support.apple.com/fr-fr/guide/safari/sfri11471/mac</a></li>
    </ul>
    </p>

    <p>Pour information, la plupart des navigateurs acceptent par défaut le dépôt de cookies. L’utilisateur peut modifier ses choix en matière de cookies à tout moment. Le paramétrage des cookies est susceptible de modifier les conditions de navigation sur le site internet, ainsi que les conditions d’accès à certains services, et d’entrainer des dysfonctionnements de certaines fonctionnalités.<br>
    Pour plus d’informations sur les cookies et les moyens permettant d’empêcher leur installation, l’utilisateur peut se rendre sur la page dédiée sur le site internet de la CNIL : <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank">www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser</a>.</p>

    <h2>7. Responsabilité</h2>
    <p>Les informations publiées sur le site internet La bonne boite sont fournies à titre indicatif et peuvent être modifiées à tout moment. Pôle emploi ne garantit pas l’exhaustivité des résultats de recherche ni l’absence d’erreurs dans les résultats communiqués.</p>
    <p>Pôle emploi ne saurait être tenu pour responsable vis-à-vis de l’utilisateur des dommages résultant de l’utilisation du site internet La bonne boite, de l’impossibilité d’y accéder et de l’utilisation des sites tiers vers lesquels le site redirige.</p>

    <h2>8. Obligations de l'utilisateur</h2>
    <p>L’utilisation du site internet <a href="//{{ host }}">{{ host }}</a> est soumise au respect par  l’utilisateur : 
    <ul>
      <li>de la législation française;</li>
      <li>des présentes conditions d’utilisation;</li>
      <li>des conditions d’utilisation de l’Emploi store disponibles à l’adresse suivante : <a href="http://www.emploi-store.fr/portail/conditionsgeneralesutilisation" target="_blank">http://www.emploi-store.fr/portail/conditionsgeneralesutilisation</a>.</li>
    </ul>
    </p>
    <p>Les présentes conditions d’utilisation peuvent être modifiées à tout moment et la date de mise à jour est mentionnée.</p>

    <h2>9. Propriété intellectuelle</h2>
    <p>Les marques Pôle emploi et La bonne boite sont protégées au titre des articles L.712-1 et suivants du code de la propriété intellectuelle. Toute représentation, reproduction ou diffusion, intégrale ou partielle de la marque Pôle emploi et/ou de la marque La bonne boite, sur quelque support que ce soit, sans l'autorisation expresse et préalable de Pôle emploi constitue un acte de contrefaçon, sanctionné en application de l’article L.716-1 du même code.</p>
    <p>Par ailleurs, le site <a href="//{{ host }}">{{ host }}</a> contient des contenus sur lesquels des tiers détiennent des droits de propriété intellectuelle (dessin, graphisme, marque, etc.) ou un droit à l’image (photo, visuel mettant en scène une personne physique, vidéo, etc.). Les internautes ne sont pas autorisés à réutiliser ces contenus en l’absence de l’autorisation préalable et expresse de ces tiers.</p>


  </div>
</div>
{% endblock %}
