{% extends 'base.html' %}

{% block scripts %}
{{ super() }}
{% include "includes/doorbell.html" %}
{% endblock %}

{% block title %}Comment écrire une candidature spontanée{{ super() }}{% endblock %}

{% block content %}
<div class="lbb-content">
  <div class="lbb-single-column-content">

    <h2>Comment faire une candidature spontanée ?</h2>

    <p>Effectuer une candidature spontanée est un acte de recherche d’emploi. Il s’agit de proposer votre candidature à une entreprise que vous avez choisie parmi d’autres. Ce choix est réfléchi. Cela ne correspond pas à un envoi massif de CV identiques à une liste d’entreprises. Pour que votre candidature spontanée soit réussie, il va falloir la personnaliser. Contrairement à la réponse à une offre d’emploi, vous n’êtes pas contraint à répondre rapidement. Vous devez prendre soin de respecter plusieurs étapes pour garantir votre succès.</p>

    <h3>1. Cibler les entreprises</h3>
    <p>Ce travail préalable est nécessaire pour limiter son choix d’entreprises à contacter. Le ciblage est déterminé par :</p>
    <ul>
      <li>Votre projet professionnel : quel(s) métiers pouvez-vous exercer, quelle(s) conditions de travail acceptez-vous, …</li>
      <li>Votre projet personnel : quelle est votre mobilité, quelle sont vos contraintes de santé, quelle(s) sont vos obligations familiales,…</li>
    </ul>
    <p>A l’issue de votre ciblage, vous devez avoir une liste d’entreprises répondant à vos critères : elles emploient du personnel ayant votre profil et se  situent dans votre secteur géographique. Si vous souhaitez de l’aide pour réaliser cette étape et répondre aux différentes questions, vous pouvez participer à trois ateliers Pôle emploi :</p>
    <ul>
      <li><a target="_blank" href="http://www.pole-emploi.fr/candidat/identifier-vos-atouts-pour-votre-projet-professionnel-@/article.jspz?id=60655">Identifier ses atouts et compétences</a></li>
      <li><a target="_blank" href="http://www.pole-emploi.fr/candidat/rechercher-des-informations-pour-mieux-connaitre-un-secteur-d-activite-ou-un-metier-@/article.jspz?id=60731">Rechercher des informations pour mieux connaître un secteur d’activité ou un métier</a></li>
      <li><a target="_blank" href="http://www.pole-emploi.fr/candidat/cibler-ma-recherche-d-emploi-@/article.jspz?id=282017">Cibler les entreprises</a>
      </li>
    </ul>
    <p>Vous pouvez également suivre des MOOCS, sérious game, e-learning,…disponible sur l’Emploi Store  (<a target="_blank" href="http://www.emploi-store.fr/portail/centredinteret/choisirunmetier">Choisir un métier</a>) :</p>
    <ul>
      <li><a target="_blank" href="http://www.emploi-store.fr/portail/services/construireSonProjetProfessionnel">Construire son projet projet professionnel</a></li>
      <li><a target="_blank" href="http://www.emploi-store.fr/portail/services/aventureMetier">Aventure métier</a></li>
      <li><a target="_blank" href="http://www.emploi-store.fr/portail/services/blogDesMetiers">Blog des métiers</a></li>
    </ul>

    <h3>2. La personnalisation</h3>
    <p>Première chose à faire : renseignez-vous sur l’entreprise. Pour chaque entreprise sélectionnée vous devez effectuer des recherches : a-t-elle un site Internet, est-t-elle présente sur les réseaux sociaux, dépose-t-elle des offres d’emploi, fait-elle parler d’elle sur Internet, dans la presse,… Prendre le temps d’effectuer ces recherches vous permet de mieux la connaître et de découvrir des contacts privilégiés (Directeur, responsable de recrutement, commercial,…). Cette étape vous permet également de préparer votre lettre de motivation et votre entretien pour donner l’impression que vous n’avez pas choisi cette entreprise par hasard. Si vous souhaitez de l’aide pour réaliser cette étape et répondre aux différentes questions, vous pouvez participer à deux ateliers Pôle emploi :</p>
    <ul>
      <li><a target="_blank" href="http://www.pole-emploi.fr/candidat/cibler-ma-recherche-d-emploi-@/article.jspz?id=282017">Cibler les entreprises</a></li>
      <li><a target="_blank" href="http://www.pole-emploi.fr/candidat/candidater-sans-offre-d-emploi-et-developper-mes-reseaux-notamment-les-reseaux-sociaux-@/article.jspz?id=282118">Préparer une candidature spontanée</a></li>
    </ul>
    <p>Vous pouvez également suivre des MOOCS, sérious game, e-learning,…disponible sur l’Emploi Store (<a target="_blank" href="http://www.emploi-store.fr/portail/centredinteret/preparersacandidature">Préparer sa candidature</a>) :</p>
    <ul>
      <li><a target="_blank" href="http://www.emploi-store.fr/portail/services/reussirCvEtLettreDeMotivation">Réussir CV et Lettre de Motivation</a></li>
      <li><a target="_blank" href="http://www.emploi-store.fr/portail/services/lettreDeMotivationEnUnClic">Lettre de motivation en un clic</a></li>
      <li><a target="_blank" href="http://www.emploi-store.fr/portail/services/glassdoor">Glassdoor</a></li>
    </ul>

    <h3>3. Déterminer la méthode de candidature spontanée adaptée</h3>
    <p>En fonction des secteurs d’activité, voire même d’une entreprise à l’autre, le mode de contact peut varier. Dans les secteurs du commerce, de la vente, de l’hôtellerie restauration, la présentation directe est appréciée : en prenant soin d’éviter les heures de fortes affluences, vous vous présentez directement à l’accueil de l’entreprise pour présenter votre candidature.  Dans l’industrie il est fréquent que des procédures spécifiques incluant un dossier de candidature existent. L’agent de sécurité présent au portail de l’entreprise saura vous renseigner sur ces pratiques. Pour les autres secteurs, l’envoi de votre candidature se fait de façon traditionnelle, par voie postale ou naturellement par courriel.</p>
    <p>Vous pouvez suivre des MOOCS, sérious game, e-learning,…disponible sur l’Emploi Store  (<a target="_blank" href="http://www.emploi-store.fr/portail/centredinteret/preparersacandidature">Préparer sa candidature</a>) :</p>
    <ul>
      <li><a target="_blank" href="http://www.emploi-store.fr/portail/services/organiserSaRechercheEmploi">Organiser sa recherche d’emploi</a></li>
      <li><a target="_blank" href="http://www.emploi-store.fr/portail/services/bABaDeLaRechercheDEmploi">B.A.-BA de la recherche d’emploi</a></li>
    </ul>

    <h3>4. Savoir à qui s'adresser</h3>
    <p>Fréquemment, on adresse sa candidature au service des ressources humaines. Mais l’idéal est de l’adresser directement à la personne qui aura de l'influence sur votre éventuel recrutement, le directeur de la branche qui vous intéresse par exemple.  La personnalisation du destinataire vous permet  également de minimiser les risques de voir votre candidature traitée par le service des ressources humaines, qui n’est pas forcément au fait  des besoins de tous les services, ou qui ne peut saisir l’opportunité de recruter vos compétences.</p>

    <h3>5. Personnalisez votre CV</h3>
    <p>Un CV est plus que le reflet de votre parcours professionnel. Il doit permettre à son lecteur d’identifier vos compétences et de l’inciter à vous recevoir en entretien.  Aussi, en fonction de ce que vous aurez appris sur l’entreprise, vous déterminerez les compétences à mettre en avant. Si vous souhaitez de l’aide pour réaliser cette étape et répondre aux différentes questions, vous pouvez participer à l’atelier Pôle emploi <a target="_blank" href="http://www.pole-emploi.fr/candidat/rediger-un-curriculum-vitae-@/article.jspz?id=60609">Réaliser son Cv</a></p>
    <p>Vous pouvez suivre des MOOCS, sérious game, e-learning,…disponible sur l’Emploi Store :</p>
    <ul>
      <li><a target="_blank" href="http://www.emploi-store.fr/portail/services/doyoubuzz">DoYouBuzz</a></li>
      <li><a target="_blank" href="http://www.emploi-store.fr/portail/services/cvPoleEmploi">CV Pôle emploi</a></li>
    </ul>

    <h3>6. Réalisez votre lettre de motivation</h3>
    <p>Faites court, précis et direct. Plus de 20 lignes effrayeront le recruteur. De plus, cela prouve que vous avez l’esprit de synthèse ! Dans votre texte, parlez de vous (ce que vous avez fait), de l’entreprise (pourquoi elle vous intéresse) et de vous deux (ce que vous pourriez vous apporter mutuellement).</p>
    <p>Vous pouvez également suivre des MOOCS, sérious game, e-learning,…disponible sur l’Emploi Store :</p>
    <ul>
      <li><a target="_blank" href="http://www.emploi-store.fr/portail/services/reussirCvEtLettreDeMotivation">Réussir CV et Lettre de Motivation</a></li>
      <li><a target="_blank" href="http://www.emploi-store.fr/portail/services/lettreDeMotivationEnUnClic">Lettre de motivation en un clic</a></li>
    </ul>

    <h3>7. Soignez la chute</h3>
    <p>L'entretien d'embauche n'est pas l'objectif ultime : le but de cette candidature spontanée est d’obtenir une prise de contact. Dans votre lettre, restez le plus ouvert possible quant à votre éventuel futur rôle dans le groupe ( « Je suis ouvert à tous types de collaboration ») et suggérez de rencontrer votre interlocuteur pour « échanger ». Si aucun poste n'est ouvert dans l'entreprise, vous pouvez au moins espérer que le recruteur se rappellera de vous pour une future opportunité.</p>

    <h3>8. Relancez</h3>
    <p>Comme lors d’une candidature classique, n’hésitez pas à relancer le recruteur en question. Certains recruteurs vont même attendre une relance pour s’intéresser à une candidature spontanée. Ne soyez pas trop oppressant, mais après huit jours sans réponse, vous pouvez raisonnablement décrocher votre téléphone…</p>

  </div>
</div>
{% endblock %}
