<div class="lbb-result__header">

  <h3>
    <span>{{ company.name }}</span>
    - <span class="small">{{ company.city }}</span>
    {% if pro_version_enabled %}
      {% if company.flag_junior %}
        - <span class="small badge badge-info" data-toggle="tooltip" title="Cette entreprise recrute une proportion élevée de juniors (moins de 26 ans) - indicateur exclusif version PRO">
        Junior</span>
      {% endif %}
      {% if company.flag_senior %}
        - <span class="small badge badge-info" data-toggle="tooltip" title="Cette entreprise recrute une proportion élevée de seniors (plus de 50 ans) - indicateur exclusif version PRO">
        Senior</span>
      {% endif %}
      {% if company.flag_handicap %}
        - <span class="small badge badge-info" data-toggle="tooltip" title="Cette entreprise recrute des BOE (Bénéficiaire de l'Obligation d'Emploi) - indicateur exclusif version PRO">
        BOE</span>
      {% endif %}
    {% endif %}
  </h3>

  <div class="grid-row">
    <div class="grid-col-8">
      <h4 class="company-naf-text">{{ company.naf_text }}</h4>
      <p>{{ company.headcount_text }}</p>
    </div>
    <div class="grid-col-4 md-text-right">
      <h4>
        Potentiel d'embauche<br>
        <span class="rating-stars text-left">
          <b style="width: {{ company.get_stars_for_rome_code_as_percentage(rome_code) }}%;">
            {{ company.get_stars_for_rome_code(rome_code) }}
          </b>
        </span>
        <span class="rating-value">{{ '%0.1f' % company.get_stars_for_rome_code(rome_code) }}</span>
      </h4>
    </div>
    <div class="grid-col-8">
      {% if distance and zipcode and company.show_multi_geolocations_msg(distance, zipcode) %}
        <h4>Cette entreprise recrute aussi dans votre région.</h4>
      {% elif company.distance %}
        <p class="travel-distance-duration">
          <img class="img-icon-large" alt="" src="{{ url_for('static', filename='images/icons/travel/km.svg') }}"> {{ company.distance }} km de votre lieu de recherche
          <span class="travel-duration {% if not enable_isochrones %}hidden{% endif %}" data-siret="{{ company.siret }}" data-latitude="{{ company.latitude }}" data-longitude="{{ company.longitude }}"></span>
        </p>
      {% endif %}
    </div>
  </div>

  <div class="lbb-result__actions">
    <div class="grid-row">
      <div class="grid-col-9">
        <div class="row">
          {% if show_more_info %}
            <a href="#" class="btn btn-small js-result-toggle-details">Plus d'infos</a>
          {% endif %}
        </div>
        <div class="row">
          {# Tilkee #}
          {% if tilkee_enabled %}
          <a class="tilkee-button no-underline no-margin" href="{{ url_for('tilkee.upload', siret=company.siret) }}" data-toggle="tooltip" title="En postulant, vous pourrez suivre votre candidature ! Découvrez qui a ouvert votre CV et quand. Et relancez le recruteur au bon moment !" data-placement="bottom" data-siret="{{ company.siret }}" onclick="return false;">
            <button class="invisible no-padding" type="submit">
              <span class="rounded-icon"><img class="img-icon" alt="" src="{{ url_for('static', filename='images/icons/pencil.svg') }}"></span>
              <span class="btn btn-small invisible">Créer ma candidature</span>
            </button>
          </a>
          {% endif %}
        </div>
        <div class="row">
          {# START favorites. #}
          {% if show_favorites and user.is_authenticated %}
            {% if (user_favs_as_sirets is defined) and (company.siret not in user_favs_as_sirets) %}
              <form action="{{ url_for('user.favorites_add', siret=company.siret) }}" method="post" class="form-inline">
                <button class="invisible no-padding" type="submit">
                  <span class="rounded-icon"><img class="img-icon" alt="" src="{{ url_for('static', filename='images/icons/heart.svg') }}"></span>
                  <span class="btn btn-small invisible">Garder pour plus tard</span>
                </button>
                <input type="hidden" name="next" value="{{ request.full_path | urlencode }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              </form>
            {% else %}
              <form action="{{ url_for('user.favorites_delete', siret=company.siret) }}" method="post" class="form-inline">
                <button class="invisible no-padding" type="submit">
                  <span class="rounded-icon"><img class="img-icon" alt="" src="{{ url_for('static', filename='images/icons/heart.svg') }}"></span>
                  <span class="btn btn-small invisible">Supprimer des favoris</span>
                </button>
                <input type="hidden" name="next" value="{{ request.full_path | urlencode }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              </form>
            {% endif %}
          {% endif %}
          {# END favorites. #}
        </div>
        <div class="row">
          {# START Memo button. #}
          <a
            class="memo-import-button"
            data-intro-js="1"
            data-url="{{ url_for('api.office_details', siret=company.siret, _external=True) }}"
            {% if rome_description %}data-job="{{ rome_description }}"{% endif %}
            data-height="31"
            data-width="180">
            <!-- Empty on purpose. -->
          </a>
          {# END Memo button. #}
        </div>
      </div> <!-- left buttons -->

      <div class="grid-col-1">

      </div> <!-- empty space -->

      <div class="grid-col-2 text-right">
        <div class="row">
          {% if jepostule_globally_enabled %}
            {% if jepostule_enabled(user, company) %}
              <a class="jepostule-button no-underline" href="{{ url_for('jepostule.application', siret=company.siret, rome_code=rome_code) }}" target="_blank" rel="noopener">
                <button class="btn btn-small full-width" type="submit">Postuler
                </button>
              </a>
            {% endif %}

            {% if not user.is_authenticated and company.email %}
              <button class="jepostule-not-authentified jepostule-buttoninvisible btn btn-small full-width" id="">Postuler
              </button>
            {% endif %}
          {% endif %}
        </div>
      </div> <!-- right buttons -->
    </div>





  </div>

</div>
