<div class="lbb-result__header">

  <h3>
    <span>{{ company.name }}</span>
    - <small>{{ company.city }}</small>
    {% if pro_version_enabled %}
      {% if company.flag_junior %}
        - <small class="badge badge-info" data-toggle="tooltip" title="Cette entreprise recrute une proportion élevée de juniors (moins de 26 ans) - indicateur exclusif version PRO">
        Junior</small>
      {% endif %}
      {% if company.flag_senior %}
        - <small class="badge badge-info" data-toggle="tooltip" title="Cette entreprise recrute une proportion élevée de seniors (plus de 50 ans) - indicateur exclusif version PRO">
        Senior</small>
      {% endif %}
      {% if company.flag_handicap %}
        - <small class="badge badge-info" data-toggle="tooltip" title="Cette entreprise recrute des BOE (Bénéficiaire de l'Obligation d'Emploi) - indicateur exclusif version PRO">
        BOE</small>
      {% endif %}
    {% endif %}
  </h3>

  <div class="grid-row grid-spacing">
    <div class="grid-col-4">
      <h4 class="company-naf-text">{{ company.naf_text }}</h4>
      <p>{{ company.headcount_text }}</p>
    </div>
    <div class="grid-col-4">
      <h4 class="lbb-green">
        Potentiel d'embauche<br>
        <span class="rating-stars">
          <b style="width: {{ company.get_stars_for_rome_code_as_percentage(rome_code) }}%;">
            {{ company.get_stars_for_rome_code(rome_code) }}
          </b>
        </span>
        <span class="rating-value">{{ '%0.1f' % company.get_stars_for_rome_code(rome_code) }}</span>
      </h4>
    </div>
    <div class="grid-col-4">
      {% if distance and zipcode and company.show_multi_geolocations_msg(distance, zipcode) %}
        <h4>Cette entreprise recrute aussi dans votre région.</h4>
      {% else %}
        <h4>{{ company.distance }} Km</h4>
      {% endif %}
    </div>
  </div>

  <div class="lbb-result__actions">

    {% if show_more_info %}
      <a href="#" class="btn btn-small js-result-toggle-details">Plus d'infos</a>
    {% endif %}

    {# START favorites. #}
    {% if show_favorites and user.is_authenticated %}
      {% if (user_favs_as_sirets is defined) and (company.siret not in user_favs_as_sirets) %}
        <form action="{{ url_for('user.favorites_add', siret=company.siret) }}" method="post" class="form-inline">
          <button class="btn btn-success btn-small" type="submit">Ajouter aux favoris</button>
          <input type="hidden" name="next" value="{{ request.full_path | urlencode }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
      {% else %}
        <form action="{{ url_for('user.favorites_delete', siret=company.siret) }}" method="post" class="form-inline">
          <button class="btn btn-error btn-small" type="submit">Supprimer des favoris</button>
          <input type="hidden" name="next" value="{{ request.full_path | urlencode }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
      {% endif %}
    {% endif %}
    {# END favorites. #}

    {# START Memo button. #}
    <a
      class="memo-import-button"
      data-intro-js="1"
      data-url="{{ url_for('api.office_details', siret=company.siret, _external=True) }}"
      {% if rome_description %}data-job="{{ rome_description }}"{% endif %}
      data-height="31"
      data-width="180"><!-- Empty on purpose. -->
    </a>
    {# END Memo button. #}

    {# Tilkee #}
    {% if tilkee_enabled %}
    <a class="tilkee-button btn btn-small" href="{{ url_for('tilkee.upload', siret=company.siret) }}" data-toggle="tooltip" title="En postulant, vous pourrez suivre votre candidature ! Découvrez qui a ouvert votre CV et quand. Et relancez le recruteur au bon moment !" data-placement="bottom" data-siret="{{ company.siret }}" onclick="return false;">Créer ma candidature</a>
    {% endif %}

    {% if jepostule_globally_enabled %}
      {% if jepostule_enabled(user, company) %}
        <a class="jepostule-button btn btn-small" href="{{ url_for('jepostule.application', siret=company.siret) }}" target="_blank" rel="noopener">Postuler</a>
      {% endif %}

      {% if not user.is_authenticated and company.email %}
        <button class="jepostule-not-authentified jepostule-button btn btn-small" id="">Postuler</button>
      {% endif %}
    {% endif %}

  </div>

</div>
