<div class="company-block"><span class="company-name">{{ company.name }}</span> en un clin d'oeil</div>

<table class="company-info">
  <tr>
    <td style="vertical-align: top;">
      <b>Secteur d'activités</b> {{ company.naf_text }}<br>
      <b>Nombre de salariés</b> {{ company.headcount_text }}<br>
    </td>
    <td style="vertical-align: top;">
      {% if company.website %}<b><a href="{{ company.website }}">{{ company.website }}</a></b><br>{% endif %}
      {% if company.phone %}<b>Téléphone</b> : {{ company.phone }}<br>{% endif %}
      <b>Adresse</b>
      {% for field in  company.address_fields %}
      {{ field }}<br>
      {% endfor %}
    </td>
  </tr>
</table>

<div class="contact-mode"><b>Mode de contact à privilégier :</b> {{ contact_mode }}</div>
