<div class="company-block"><span class="company-name">{{ office.name }}</span> en un clin d'oeil</div>

<table class="company-info">
  <tr>
    <td style="vertical-align: top;">
      <b>Secteur d'activités</b> {{ office.naf_text }}<br>
      <b>Nombre de salariés</b> {{ office.headcount_text }}<br>
    </td>
    <td style="vertical-align: top;">
      {% if office.email %}<b><a href="mailto:{{ office.email }}">{{ office.email }}</a></b><br>{% endif %}
      {% if office.website %}<b><a href="{{ office.website }}">{{ office.website }}</a></b><br>{% endif %}
      {% if office.phone %}<b>Téléphone</b> : {{ office.phone }}<br>{% endif %}
      <b>Adresse</b>
      {% for field in  office.address_fields %}
      {{ field }}<br>
      {% endfor %}
    </td>
  </tr>
</table>

<div class="contact-mode"><b>Mode de contact à privilégier :</b> {{ office.recommended_contact_mode_label }}</div>
