<link rel="stylesheet" href="{{ url_for('static', filename='css/mobiville-banner.css') }}">

<div class="alert mobiville-info-alert">
    <img alt="info" src="{{ url_for('static', filename='images/icons/info-red.svg') }}">
    <p>
      <strong>Il y a peu d’entreprises qui recrutent dans la région.</strong> Avez-vous envisagé de déménager ? Mobiville finance votre projet !
    </p>
</div>

<div class="lbb-bright-container lbb-result mobiville-banner">
    {% with show_more_info=0, hide_footer=1, company=mobiville_company() %}
    {% include "includes/office/header.html" %}
    {% endwith %}
    <div class="grid-row">
        <div class="grid-col-4">
            <img src="{{ url_for('static', filename='images/logo-mobiville.svg') }}" alt="Logo Mobiville">
        </div>
        <div class="grid-col-8 text-right mobiville-footer">
            <div>
                <a class="mobiville-btn btn btn-small gtm-banner-mobiville"
                    href="https://mobiville.pole-emploi.fr/cities?codeRome={{rome_code}}&utm_campaign=lbb-banniere-rome-77&utm_source=lbb-banner-mobiville"
                    about="_blank" type="submit">
                    Rechercher dans la ville de vos rêves
                </a>
            </div>
            <div class="mobiville-btn-label">
                Vous allez être redirigé vers Mobiville, site partenaire de Pôle Emploi
            </div>
        </div>
    </div>
</div>